<ion-pane>
    <ion-header-bar class="bar-assertive">
        <h1 class="title">Acceleration</h1>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <div class="borderColor">
            <input type="number" placeholder="" ng-model="values.fromValue" placeholder="Tap">
            <input  type="text" ionic-autocomplete="{items: items, onSelect:onSelect}"placeholder="Tap to Search" ng-model="search"/>
       </div>

       
       <div>
         <h4>kilometer/hour<sup>2</sup>:{{value1}}</h4>
         <h4>kilometer/minitute<sup>2</sup> :{{value2}}</h4>
         <h4>meter/min<sup>2</sup>:{{value3}}</h4>
         <h4>meter/sec<sup>2</sup>:{{value4}}</h4>
         <h4>millimeter/sec<sup>2</sup>:{{value5}}</h4>
         <h4>miles/hour<sup>2</sup>:{{value6}}</h4>
         <h4>miles/minute<sup>2</sup>:{{value7}}</h4>
         <h4>foot/min<sup>2</sup>:{{value8}}</h4>
         <h4>foot/sec<sup>2</sup>:{{value9}}</h4>
         <h4>inch/sec<sup>2</sup>:{{value10}}</h4>
         <h4>gravitation:{{value11}}</h4>
         <h4>Gal(Gal):{{value12}}</h4>
       </div>
    </ion-content>
</ion-pane>
