<ion-pane>
    <ion-header-bar class="bar-assertive">
        <h1 class="title">ANGLE</h1>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <div class="borderColor">
            <input type="number" placeholder="" ng-model="values.fromValue" placeholder="Tap">
            <input  type="text" ionic-autocomplete="{items: items, onSelect:onSelect}"placeholder="Tap to Search" ng-model="search"/>
       </div>
       <div>
         <h4>degrees(deg):{{value1}}</h4>
         <h4>full circle:{{value2}}</h4>
         <h4>grad:{{value3}}</h4>
         <h4>radians(rad):{{value4}}</h4>
       </div>
    </ion-content>
</ion-pane>
