<button ng-click="getPhoto()" class="button button-block button-primary">Take Photo</button>
      <img id="scream"ng-src="{{lastPhoto}}" style="max-width: 100%">
      <p>Canvas:</p>
      <h2>{{lastPhoto}}</h2>
<canvas id="myCanvas" width="240" height="297" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.
</canvas>