  
  <ion-header-bar class="bar bar-header bar-royal">
  <h1 class="title">CURRENCY</h1>
</ion-header-bar>
<ion-content class="has-header padding" style="background:#f2f2f2;">
<label class="item item-input">
  <input type="number" placeholder="USD" ng-model="values.fromValue">
</label>
<br>
<div id="flag">
  <div class="flagDisplay">
    <img ng-src="img/icons/svg/{{ from }}.svg" />
  </div>
  <div>
  <label class="item item-input">
    <input type="text" ionic-autocomplete="{items: items, onSelect:onSelect}" placeholder="From Currency (Default: INR)">
  </label>  
  </div>
</div>

<div id="flag1">
  <div class="flagDisplay">
   <img ng-src="img/icons/svg/{{ to }}.svg" /> 
 </div>
 <div >
  <label class="item item-input">
    <input type="text" ionic-autocomplete="{items: items, onSelect:fromSelect}" placeholder="To Currency" >
  </label>  
</div>

</div>
<br>
<label class="item item-input">
  <input type="text" placeholder="INR" ng-model="values.toValue">
</label>
<div class="exchange">
  <h5>Exchange rates as on: {{date}}</h5>



</div>



</ion-content>
</ion-pane>


