<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Energy</h1>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <div class="borderColor">
            <input type="number" placeholder="" ng-model="values.fromValue" placeholder="Tap">
            <input  type="text" ionic-autocomplete="{items: items, onSelect:onSelect}"placeholder="Tap to Search" ng-model="search"/>
       </div>
       <div>
         <h4>watt/hour:{{value1}}</h4>
         <h4>watt/sec:{{value2}}</h4>
         <h4>kilowatt/hour:{{value3}}</h4>
         <h4>kilowatt/sec:{{value4}}</h4>
         <h4>megawatt/hour:{{value5}}</h4>
         <h4>gigawatt/hour:{{value6}}</h4>
         <h4>calorie:{{value7}}</h4>
         <h4>kilocalorie:{{value8}}</h4>
         <h4>joules:{{value9}}</h4>
         <h4>kilojoules:{{value10}}</h4>
         <h4>BTU:{{value11}}</h4>
       </div>
    </ion-content>
</ion-pane>
