<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Flowrate</h1>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <div class="borderColor">
            <input type="number" placeholder="" ng-model="values.fromValue" placeholder="Tap">
            <input  type="text" ionic-autocomplete="{items: items, onSelect:onSelect}"placeholder="Tap to Search" ng-model="search"/>
       </div>
        <br>
       <div>
         <h4>Cubic meter/min:{{value1}}</h4>
         <h4>Cubic meter/sec:{{value2}}</h4>
         <h4>Cubic meter/hour:{{value3}}</h4>
         <h4>liter/min:{{value4}}</h4>
         <h4>liter/sec:{{value5}}</h4>
         <h4>liter/hour:{{value6}}</h4>
         <h4>cubicfoot/min:{{value7}}</h4>
         <h4>cubicfoot/sec:{{value8}}</h4>
         <h4>cubicfoot/hour:{{value9}}</h4>
         <h4>cubicinch/min:{{value10}}</h4>
         <h4>cubicinch/sec:{{value11}}</h4>
         <h4>cubicinch/hour:{{value12}}</h4>
         <h4>US gallon/min:{{value13}}</h4>
         <h4>US gallon/sec:{{value14}}</h4>
         <h4>US gallon/hour:{{value15}}</h4>
         <h4>UK gallon/min:{{value16}}</h4>
         <h4>UK gallon/sec:{{value17}}</h4>
         <h4>UK gallon/hour:{{value18}}</h4>
         <h4>US oz/min:{{value19}}</h4>
         <h4>US oz/sec:{{value20}}</h4>
         <h4>US oz/hour:{{value21}}</h4>
         <h4>UK oz/min:{{value22}}</h4>
         <h4>UK oz/sec:{{value23}}</h4>
         <h4>UK oz/hour:{{value24}}</h4>
       </div>
    </ion-content>
</ion-pane>
