<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Force</h1>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <div class="borderColor">
            <input type="number" placeholder="" ng-model="values.fromValue" placeholder="Tap">
            <input  type="text" ionic-autocomplete="{items: items, onSelect:onSelect}"placeholder="Tap to Search" ng-model="search"/>
       </div>
       <div>
         <h4>Newton:{{value1}}</h4>
         <h4>Kilonewton:{{value2}}</h4>
         <h4>Meganewton:{{value3}}</h4>
         <h4>Giganewton:{{value4}}</h4>
         <h4>Kilogramforce(kgf):{{value5}}</h4>
         <h4>gramforce:{{value6}}</h4>
         <h4>poundforce(lbf):{{value7}}</h4>
         <h4>kip(kip):{{value8}}</h4>
       </div>
    </ion-content>
</ion-pane>
