<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">FUEL CONSUMPTION</h1>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <div class="borderColor">
            <input type="number" placeholder="" ng-model="values.fromValue" placeholder="Tap">
            <input  type="text" ionic-autocomplete="{items: items, onSelect:onSelect}"placeholder="Tap to Search" ng-model="search"/>
       </div>
       <div>
         <h4>Kilometer/litre:{{value1}}</h4>
         <h4>Kilometer/gallon(US):{{value2}}</h4>
         <h4>Kilometer/gallon(UK):{{value3}}</h4>
         <h4>Miles/litre:{{value4}}</h4>
         <h4>Miles/gallon(US):{{value5}}</h4>
         <h4>Miles/gallon(UK):{{value6}}</h4>
         <h4>litre/100Km:{{value7}}</h4>
         <h4>litre/100miles:{{value8}}</h4>
       </div>
    </ion-content>
</ion-pane>
