	<ion-pane>
	<ion-header-bar class="bar-stable">
	<h1 class="title" style="font-size:13px;">CONVERSIONS</h1>
	</ion-header-bar>
	<br>
	<br>
	<br>
	<ion-scroll direction = "y" zooming="false">
	<div class="row">
		<div class="col col-33">
			<div class="svgIcon currency">
				<a href="#/currency">
					<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svgIcon" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 370 370" style="enable-background:new 0 0 370 370;" xml:space="preserve">
					<path d="M361.095,104.875l-72.814-84.256c-6.967-8.059-17.069-12.682-27.719-12.682c-10.652,0-20.76,4.623-27.722,12.682
					l-54.912,63.539c-2.178,0.457-4.276,1.131-6.273,1.998c-0.316-19.932-16.619-36.051-36.625-36.051H83.849
					c-20.201,0-36.637,16.438-36.637,36.639v117.787H36.625c-14.295,0-27.372,8.4-33.314,21.395
					c-5.953,13.002-3.754,28.393,5.595,39.201l72.813,84.254c6.969,8.059,17.07,12.682,27.72,12.682c10.652,0,20.76-4.623,27.722-12.682
					l55.042-63.686c2.134-0.496,4.185-1.201,6.137-2.09c0.192,20.041,16.545,36.289,36.632,36.289h51.182
					c20.201,0,36.638-16.438,36.638-36.639V165.471h10.586c14.295,0,27.372-8.402,33.315-21.395
					C372.642,131.074,370.444,115.682,361.095,104.875z M110.57,326.403c-0.565,0.656-1.69,0.658-2.261,0l-72.816-84.26
					c-0.381-0.436-0.468-1.061-0.224-1.594c0.241-0.533,0.775-0.875,1.356-0.875h45.731V86.744c0-0.824,0.668-1.492,1.492-1.492h51.182
					c0.825,0,1.498,0.668,1.498,1.492v36.59c-1.154,1.131-2.264,2.309-3.308,3.549c-8.687,10.346-13.277,22.899-13.277,36.299
					c0,9.986,2.563,19.166,7.626,27.391c-2.402,2.668-4.383,5.754-5.833,9.158c-4.333,10.184-3.284,21.777,2.803,31.016
					c6.677,10.127,15.929,17.727,27.268,22.51v0.377c0,6.842,2.1,13.203,5.685,18.475L110.57,326.403z M218.729,225.07
					c-5.781,5.492-13.514,9.154-23.031,10.924v17.639c0,6.055-4.907,10.961-10.965,10.961c-6.053,0-10.961-4.906-10.961-10.961v-17.055
					c-13.89-1.881-24.286-7.9-30.89-17.92c-2.023-3.07-2.376-6.945-0.935-10.326c1.438-3.379,4.475-5.818,8.086-6.484l8.276-1.541
					c4.233-0.785,8.536,0.982,10.998,4.518c3.112,4.475,8.379,6.744,15.657,6.744c11.206,0,11.206-4.455,11.206-5.92
					c0-2.125-0.797-3.668-2.508-4.861c-1.745-1.217-4.927-2.299-9.455-3.221c-18.205-3.711-29.934-8.529-34.863-14.318
					c-5.007-5.869-7.436-12.434-7.436-20.066c0-8.287,2.735-15.744,8.132-22.172c5.226-6.219,13.21-10.256,23.73-12.018v-12.623
					c0-6.055,4.908-10.963,10.961-10.963c6.058,0,10.965,4.908,10.965,10.963v12.859c9.416,1.797,16.769,5.602,22.349,11.572
					c2.577,2.754,3.557,6.639,2.597,10.285c-0.963,3.646-3.729,6.541-7.328,7.664l-5.678,1.777c-4.118,1.293-8.61,0.041-11.477-3.186
					c-2.857-3.221-7.095-4.855-12.6-4.855c-4.434,0-9.72,1.057-9.72,6.084c0,1.424,0.547,2.709,1.575,3.717
					c1.082,1.053,4.235,2.172,9.373,3.318c11.856,2.594,20.522,4.961,25.709,7.023c5.261,2.096,9.69,5.688,13.176,10.678
					c3.483,4.98,5.254,10.955,5.254,17.746C228.928,210.563,225.497,218.643,218.729,225.07z M334.732,129.451
					c-0.241,0.535-0.775,0.875-1.357,0.875h-45.731v152.93c0,0.824-0.668,1.492-1.492,1.492H234.97c-0.825,0-1.498-0.668-1.498-1.492
					v-41.908c0.128-0.119,0.259-0.232,0.388-0.354c11.143-10.586,17.033-24.396,17.033-39.941c0-11.229-3.188-21.717-9.212-30.318
					c-1.192-1.709-2.456-3.324-3.788-4.846c1.761-2.803,3.116-5.895,3.989-9.203c2.903-11.021-0.009-22.572-7.791-30.887
					c-4.728-5.057-10.265-9.162-16.553-12.291c-0.483-5.605-2.386-10.811-5.335-15.264l47.227-54.646
					c0.283-0.328,0.697-0.516,1.132-0.516c0.434,0,0.844,0.189,1.129,0.518l72.816,84.258
					C334.889,128.293,334.976,128.918,334.732,129.451z"/>
				</svg>

				<figcaption>CURRENCY</figcaption>
			</a>
		</div>
	</div>
	<div class="col col-33">
		<div class="svgIcon mass">
			<a href="#/weight">

				<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svgIcon" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 486.534 486.534" style="enable-background:new 0 0 486.534 486.534;" xml:space="preserve">
				<g>
					<path d="M232.146,311.146c-7.936,0-15.277,5.994-17.215,14.506c-0.393,1.741-0.582,3.481-0.582,5.418v13.923
					c0,1.937,0.189,3.678,0.582,5.222c1.938,7.931,8.695,13.93,17.215,13.93c12.569,0,20.306-9.67,20.306-26.696
					C252.451,322.747,245.88,311.146,232.146,311.146z"/>
					<path d="M466.056,398.576l-54.56-244.626c-3.779-16.924-18.79-28.956-36.132-28.956H330.87c3.606-9.923,5.67-20.578,5.67-31.729
					C336.54,41.84,294.708,0,243.283,0s-93.273,41.84-93.273,93.265c0,11.151,2.064,21.806,5.671,31.729h-44.509
					c-17.342,0-32.352,12.033-36.133,28.956L20.48,398.576c-4.774,21.397,0.426,43.794,14.129,60.899
					c13.717,17.105,34.444,27.059,56.369,27.059h304.58c21.923,0,42.65-9.954,56.367-27.059
					C465.628,442.37,470.827,419.974,466.056,398.576z M198.394,93.265c0-24.744,20.145-44.881,44.889-44.881
					c24.744,0,44.872,20.137,44.872,44.881c0,12.379-5.038,23.602-13.166,31.729H211.56
					C203.435,116.867,198.394,105.645,198.394,93.265z M155.128,370.525c0,8.12-6.582,14.704-14.697,14.704
					c-8.125,0-14.707-6.584-14.707-14.704V262.597c0-8.119,6.582-14.704,14.707-14.704c8.115,0,14.697,6.585,14.697,14.704V370.525z
					M233.109,387.354c-11.026,0-21.674-4.064-28.43-15.278h-0.395l-0.107,1.292c-0.602,6.71-6.224,11.86-12.964,11.86
					c-3.386,0-6.615-1.371-8.964-3.788c-2.361-2.425-3.621-5.694-3.527-9.073c0.127-4.851,0.221-10.206,0.221-15.38v-94.391
					c0-8.119,6.584-14.704,14.696-14.704c8.126,0,14.71,6.585,14.71,14.704v39.265h0.379c5.621-8.127,15.479-13.349,28.635-13.349
					c22.631,0,39.262,18.759,39.076,47.779C276.439,370.336,254.764,387.354,233.109,387.354z M319.829,387.165
					c-7.733,0-14.932-1.055-20.996-2.788c-5.464-1.567-8.727-7.19-7.355-12.726c0.71-2.858,2.569-5.3,5.135-6.733
					c2.568-1.442,5.623-1.765,8.426-0.874c4.805,1.52,10.16,2.614,14.791,2.614c8.898,0,12.569-3.094,12.569-7.93
					c0-4.836-2.899-7.159-13.923-10.836c-19.547-6.576-27.091-17.215-26.887-28.43c0-17.601,15.09-30.949,38.494-30.949
					c6.332,0,12.285,0.828,17.293,2.087c2.553,0.638,4.742,2.26,6.078,4.52c1.34,2.253,1.734,4.954,1.072,7.498l-0.157,0.653
					c-0.677,2.607-2.361,4.844-4.71,6.19c-2.332,1.346-5.103,1.693-7.699,0.969c-3.388-0.946-7.152-1.607-10.916-1.607
					c-7.15,0-11.215,2.898-11.215,7.734c0,4.449,3.67,6.772,15.277,10.836c17.986,6.189,25.532,15.278,25.721,29.209
					C360.827,374.203,346.906,387.165,319.829,387.165z"/>
				</svg>

				<figcaption>MASS</figcaption>
			</a>
		</div>
	</div>
	<div class="col col-33">
		<div class="svgIcon length">
			<a href="#/meter">

				<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svgIcon" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 212.975 212.975" style="enable-background:new 0 0 212.975 212.975;"
				xml:space="preserve">
				<g>
					<path d="M138.372,45.924l-7.905-11.018l-7.505,5.263l-20.703-7.727l-31.006,83.083l-31.01-83.083l-1.696,0.635v-0.13H0v143.678
					h38.547v-38.75l15.822,42.657l16.883-6.304l16.88,6.304l33.819-90.624l59.471,84.751l31.552-22.135L138.31,46.095L138.372,45.924z
					M126.941,41.654l2.663-1.867l2.724,3.879l-1.92-0.719L126.941,41.654z M35.043,173.12H3.504v-7.009h15.769v-3.504H3.504v-7.009
					h15.769v-3.504H3.504v-7.009h15.769v-3.504H3.504v-7.009h15.769v-3.505H3.504v-7.008h15.769v-3.505H3.504v-7.009h15.769v-3.504
					H3.504v-7.01h15.769v-3.504H3.504V92.52h15.769v-3.504H3.504v-7.009h15.769v-3.504H3.504v-7.009h15.769V67.99H3.504v-7.008h15.769
					v-3.504H3.504v-7.009h15.769v-3.504H3.504V36.451h31.539v91.976V173.12z M53.24,167.484l15.605-6.434l-1.334-3.241l-15.494,6.393
					l-2.452-6.577l15.271-6.297l-1.335-3.237l-15.164,6.252l-2.454-6.57l14.939-6.163l-1.334-3.238l-14.827,6.112l-2.454-6.57
					l14.613-6.026l-1.335-3.237l-14.505,5.979l-2.431-6.516v-0.062l14.258-5.887l-1.334-3.237l-12.924,5.332V117.6l10.169-4.196
					l-1.338-3.237l-8.831,3.648v-6.321l6.16-2.544l-1.338-3.237l-4.822,1.99V37.923l30.833,82.612l0,0l16.594,44.461l-29.552,11.026
					L53.24,167.484z M86.079,176.022l-9.811-3.662l12.152-4.538l0.835-0.311L86.079,176.022z M89.955,165.633L76.208,128.8l8.704,3.412
					l1.277-3.269l-11.628-4.555l-1.439-3.854l1.379-3.699l14.243,5.582l1.274-3.269l-14.294-5.603l2.454-6.557l14.398,5.637
					l1.275-3.265l-14.45-5.657l2.449-6.567l14.556,5.701l1.276-3.265l-14.606-5.724l2.449-6.564l14.715,5.765l1.275-3.265
					l-14.763-5.783l2.454-6.567l14.869,5.825l1.275-3.267l-14.921-5.841l2.449-6.567l15.027,5.884l1.274-3.266l-15.074-5.9l2.45-6.571
					l15.183,5.946l1.276-3.267L97.78,54.448l2.454-6.565l15.34,6.006l1.273-3.267l-15.39-6.026l2.852-7.65l15.162,5.658l0,0
					l14.384,5.37l-14.346,38.444l0,0L89.955,165.633z M208.095,151.67l-25.816,18.11l-4.881-6.947l13.863-10.249l-2.084-2.823
					l-13.795,10.198l-4.027-5.739l13.654-10.092l-2.084-2.82l-13.583,10.041l-4.024-5.742l13.442-9.938l-2.084-2.819l-13.377,9.883
					l-4.021-5.735l13.233-9.784l-2.084-2.823l-13.165,9.732l-4.024-5.735l13.025-9.63l-2.081-2.82l-12.956,9.575l-4.024-5.738
					l12.812-9.47l-2.088-2.823l-12.737,9.422l-4.024-5.739l12.597-9.317l-2.084-2.822l-12.531,9.268l-4.025-5.739l12.393-9.159
					l-2.085-2.822l-12.319,9.112l-4.024-5.736l12.183-9.01l-2.087-2.82l-12.111,8.956l-3.624-5.161l0.451-1.209l11.115-8.222
					l-2.08-2.82l-6.79,5.017l10.681-28.62L208.095,151.67z"/>
				</svg>

				<figcaption>LENGTH</figcaption>
			</a>
		</div>
	</div>
	</div>

	</div>
	<div class="row">
		<div class="col col-33">
			<div class="svgIcon area">
				<a href="#/area">
					<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 366.856 366.856" style="enable-background:new 0 0 366.856 366.856;"
					xml:space="preserve">
					<g>
						<rect x="340.485" y="7.773"  width="11.711" height="1.916"/>
						<g>
							<path  d="M236.12,1.918v117.105h-20.367v11.71h20.367v105.395H130.728V130.733h19.647v-11.71h-19.647V7.773
							V0.003H0v124.875v117.105v122.96h1.913v1.91h122.96h117.102h122.96v-1.91h1.921v-122.96V124.878V1.918H236.12z M353.225,353.238
							H247.831V247.844h105.395V353.238z M236.12,353.238H130.728V247.844H236.12V353.238z M119.018,353.238H13.624V247.844h105.394
							V353.238z M247.831,13.629h105.395v105.395H247.831V13.629z M353.225,130.733v105.395H247.831V130.733H353.225z M119.018,236.134
							H13.624V130.739h105.394V236.134z M119.018,11.713v107.311H11.71V11.713H119.018z"/>
							<path  d="M177.57,96.312v87.125h11.708V96.312c21.454-2.876,38.059-21.251,38.059-43.478
							c0-24.216-19.692-43.914-43.911-43.914c-24.216,0-43.914,19.698-43.914,43.914C139.511,75.055,156.125,93.429,177.57,96.312z
							M183.425,20.625c17.757,0,32.201,14.446,32.201,32.204c0,17.76-14.444,32.204-32.201,32.204
							c-17.757,0-32.204-14.443-32.204-32.204C151.221,35.071,165.674,20.625,183.425,20.625z"/>
						</g>
					</g>
				</svg>

				<figcaption>AREA</figcaption>
			</a>	
		</div>
	</div>
	<div class="col col-33">
		<div class="svgIcon volume">
			<a href="#/volume">
				<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 139.105 139.105" style="enable-background:new 0 0 139.105 139.105;"
				xml:space="preserve">
				<g>
					<g>
						<path d="M114.668,17.656L98.689,1.678C97.617,0.605,96.16,0,94.646,0H28.477c-0.083,0-0.137,0.027-0.22,0.027
						c-0.22,0-0.413,0.027-0.605,0.055c-0.165,0.027-0.33,0.055-0.495,0.083c-0.193,0.055-0.358,0.11-0.55,0.165
						c-0.165,0.055-0.33,0.11-0.495,0.192s-0.33,0.165-0.495,0.275C25.452,0.88,25.287,0.99,25.149,1.1
						c-0.137,0.11-0.275,0.22-0.413,0.33c-0.165,0.137-0.302,0.275-0.44,0.413c-0.055,0.055-0.11,0.11-0.165,0.165
						c-0.055,0.082-0.11,0.165-0.165,0.22c-0.138,0.165-0.248,0.33-0.357,0.495c-0.083,0.165-0.165,0.303-0.248,0.468
						s-0.165,0.357-0.22,0.522c-0.055,0.165-0.11,0.357-0.165,0.522c-0.055,0.165-0.083,0.357-0.11,0.522
						c-0.027,0.192-0.055,0.413-0.055,0.605c0,0.083-0.027,0.192-0.027,0.275v104.949c0,1.348,0.468,2.641,1.32,3.658l19.114,22.826
						c1.073,1.293,2.695,2.035,4.373,2.035h63.035c3.163,0,5.693-2.559,5.693-5.693V21.617
						C116.347,20.186,115.741,18.729,114.668,17.656z M34.472,108.936l-0.275-0.33V17.986l6.848,5.775v84.625h-1.128
						c-1.265,0-2.283,1.018-2.283,2.281c0,1.266,1.018,2.283,2.283,2.283h1.128v3.822l-5.996-7.178
						C34.884,109.348,34.691,109.129,34.472,108.936z M52.458,112.621c0.33,0.191,0.715,0.357,1.128,0.357h6.848
						c1.265,0,2.283-1.019,2.283-2.283c0-1.266-1.018-2.282-2.283-2.282h-6.848c-0.413,0-0.798,0.138-1.128,0.358V27.42h52.475v99.448
						l-2.613-3.74c-0.715-1.045-2.146-1.293-3.189-0.551c-1.045,0.716-1.292,2.146-0.55,3.19l1.458,2.062h-47.58V112.621
						L52.458,112.621z M96.875,15.978H49.542l-5.418-4.565l47.771-0.027c0,0,1.678,1.348,2.53,2.146L96.875,15.978z"/>
						<path d="M92.392,55.912c1.266,0,2.282-1.018,2.282-2.283v-6.848c0-1.265-1.018-2.283-2.282-2.283
						c-1.266,0-2.283,1.018-2.283,2.283v6.848C90.109,54.894,91.126,55.912,92.392,55.912z"/>
						<path d="M92.392,83.305c1.266,0,2.282-1.019,2.282-2.283v-6.848c0-1.266-1.018-2.283-2.282-2.283
						c-1.266,0-2.283,1.019-2.283,2.283v6.848C90.109,82.286,91.126,83.305,92.392,83.305z"/>
						<path d="M92.392,42.216c1.266,0,2.282-1.018,2.282-2.283v-6.848c0-1.265-1.018-2.283-2.282-2.283
						c-1.266,0-2.283,1.018-2.283,2.283v6.848C90.109,41.198,91.126,42.216,92.392,42.216z"/>
						<path d="M92.392,69.607c1.266,0,2.282-1.017,2.282-2.282v-6.848c0-1.265-1.018-2.283-2.282-2.283
						c-1.266,0-2.283,1.018-2.283,2.283v6.848C90.109,68.59,91.126,69.607,92.392,69.607z"/>
						<path d="M94.674,108.387v-6.85c0-1.266-1.018-2.281-2.282-2.281c-1.266,0-2.283,1.018-2.283,2.281v6.85
						c0,1.264,1.019,2.281,2.283,2.281S94.674,109.65,94.674,108.387z"/>
						<path d="M87.827,108.387h-6.849c-1.266,0-2.283,1.018-2.283,2.281c0,1.266,1.019,2.283,2.283,2.283h6.849
						c1.265,0,2.282-1.018,2.282-2.283C90.109,109.404,89.091,108.387,87.827,108.387z"/>
						<path d="M74.13,108.387h-6.849c-1.265,0-2.283,1.018-2.283,2.281c0,1.266,1.018,2.283,2.283,2.283h6.849
						c1.266,0,2.282-1.018,2.282-2.283C76.413,109.404,75.396,108.387,74.13,108.387z"/>
						<path d="M92.392,97c1.266,0,2.282-1.018,2.282-2.283v-6.848c0-1.266-1.018-2.283-2.282-2.283c-1.266,0-2.283,1.018-2.283,2.283
						v6.848C90.109,95.955,91.126,97,92.392,97z"/>
						<path d="M98.937,118.287l-3.383-4.812c-0.715-1.045-2.145-1.293-3.189-0.551c-1.045,0.715-1.293,2.146-0.551,3.189l3.383,4.812
						c0.441,0.633,1.156,0.963,1.871,0.963c0.439,0,0.906-0.138,1.293-0.412C99.433,120.762,99.681,119.332,98.937,118.287z"/>
					</g>
				</g>

			</svg>

			<figcaption>VOLUME</figcaption>
		</a>	
	</div>
	</div>
	<div class="col col-33">
		<div class="svgIcon temp">
			<a href="#/temp">
				<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 935.312 935.312" style="enable-background:new 0 0 935.312 935.312;"
				xml:space="preserve">
				<g>
					<g>
						<path d="M634.661,134.729c7.582,0,13.729-6.146,13.729-13.729V89.913c0-7.582-6.146-13.728-13.729-13.728H508.775V28.582
						c0-7.582-6.146-13.728-13.729-13.728h-52.698c-7.582,0-13.729,6.146-13.729,13.728v398.347
						c-47.182,16.792-80.706,62.386-79.396,115.628c0.609,24.794,8.887,47.754,22.509,66.628c6.951-11.542,14.957-23.662,25.392-34.372
						c19.589-20.106,43.976-30.734,70.522-30.734c26.546,0,50.932,10.627,70.522,30.734c10.944,11.233,19.222,24.021,26.408,36.063
						c14.838-19.911,23.631-44.592,23.631-71.333c0-51.944-33.143-96.141-79.433-112.615v-91.48h125.886
						c7.582,0,13.729-6.146,13.729-13.728v-31.087c0-7.582-6.146-13.728-13.729-13.728H508.775v-41.817h125.886
						c7.582,0,13.729-6.146,13.729-13.728v-31.087c0-7.582-6.146-13.728-13.729-13.728H508.775v-41.816H634.661z"/>
						<path d="M855.271,631.462c-14.948,25.57-23.459,37.617-36.877,37.617c-13.417,0-21.93-12.047-36.877-37.617
						c-7.944-13.588-16.158-27.64-27.427-39.204c-14.984-15.38-32.688-23.179-52.615-23.179c-19.929,0-37.631,7.799-52.615,23.179
						c-11.268,11.565-19.481,25.616-27.424,39.205c-14.947,25.569-23.458,37.616-36.874,37.616s-21.928-12.047-36.875-37.617
						c-0.288-0.492-0.578-0.987-0.867-1.481c-7.678-13.123-15.699-26.576-26.558-37.722c-14.984-15.381-32.687-23.18-52.615-23.18
						s-37.63,7.799-52.615,23.181c-10.488,10.765-18.329,23.683-25.771,36.378c-0.553,0.942-1.104,1.886-1.653,2.825
						c-14.947,25.569-23.457,37.616-36.873,37.616c-13.415,0-21.926-12.047-36.873-37.617c-7.943-13.588-16.157-27.639-27.424-39.202
						c-14.984-15.382-32.688-23.181-52.614-23.181c-19.928,0-37.63,7.799-52.615,23.18c-11.267,11.564-19.481,25.615-27.425,39.204
						c-14.947,25.569-23.457,37.616-36.874,37.616c-13.415,0-21.924-12.047-36.871-37.616c-7.943-13.588-16.156-27.64-27.423-39.203
						C37.63,576.879,19.928,569.079,0,569.079v50c13.415,0,21.924,12.047,36.871,37.616c7.943,13.588,16.156,27.641,27.423,39.204
						c14.984,15.381,32.686,23.18,52.614,23.18c19.928,0,37.63-7.799,52.615-23.179c11.267-11.565,19.481-25.616,27.424-39.205
						c14.947-25.569,23.457-37.616,36.873-37.616s21.926,12.047,36.873,37.616c7.942,13.589,16.157,27.64,27.424,39.204
						c14.985,15.381,32.687,23.18,52.615,23.18c19.928,0,37.63-7.799,52.614-23.179c11.268-11.565,19.481-25.616,27.425-39.204
						c14.946-25.57,23.458-37.617,36.874-37.617s21.927,12.047,36.875,37.617c7.942,13.588,16.156,27.639,27.424,39.204
						c14.984,15.38,32.688,23.179,52.616,23.179c19.928,0,37.63-7.799,52.614-23.179c11.268-11.565,19.481-25.616,27.425-39.205
						c14.946-25.569,23.457-37.616,36.873-37.616s21.929,12.047,36.877,37.617c7.942,13.588,16.157,27.64,27.426,39.204
						c14.984,15.38,32.688,23.179,52.616,23.179c19.928,0,37.631-7.799,52.615-23.179c11.269-11.564,19.482-25.616,27.427-39.204
						c14.947-25.57,23.46-37.617,36.877-37.617v-50c-19.928,0-37.631,7.799-52.616,23.179
						C871.428,603.822,863.214,617.874,855.271,631.462z"/>
						<path d="M855.271,832.84c-14.948,25.57-23.459,37.617-36.877,37.617c-13.417,0-21.93-12.047-36.877-37.617
						c-7.944-13.588-16.158-27.64-27.427-39.203c-14.984-15.381-32.688-23.18-52.615-23.18c-19.929,0-37.631,7.799-52.615,23.18
						c-11.268,11.564-19.481,25.615-27.424,39.205c-14.947,25.568-23.458,37.615-36.874,37.615s-21.928-12.047-36.875-37.617
						c-7.943-13.588-16.157-27.639-27.425-39.203c-14.984-15.381-32.687-23.18-52.615-23.18s-37.63,7.799-52.615,23.181
						c-11.268,11.563-19.481,25.614-27.424,39.204c-14.947,25.568-23.457,37.615-36.873,37.615c-13.415,0-21.926-12.047-36.873-37.617
						c-7.943-13.588-16.157-27.639-27.424-39.202c-14.984-15.382-32.688-23.181-52.614-23.181c-19.928,0-37.63,7.799-52.615,23.18
						c-11.267,11.564-19.481,25.615-27.425,39.205c-14.947,25.568-23.457,37.615-36.874,37.615c-13.415,0-21.924-12.047-36.871-37.615
						c-7.943-13.589-16.156-27.641-27.423-39.204c-14.984-15.381-32.686-23.181-52.614-23.181v50c13.415,0,21.924,12.047,36.871,37.616
						c7.943,13.588,16.156,27.641,27.423,39.204c14.984,15.381,32.686,23.18,52.614,23.18c19.928,0,37.63-7.799,52.615-23.179
						c11.267-11.565,19.481-25.616,27.424-39.205c14.947-25.569,23.457-37.616,36.873-37.616s21.926,12.047,36.873,37.616
						c7.942,13.589,16.157,27.64,27.424,39.204c14.985,15.381,32.687,23.18,52.615,23.18c19.928,0,37.63-7.799,52.614-23.179
						c11.268-11.565,19.481-25.616,27.425-39.204c14.946-25.57,23.458-37.617,36.874-37.617s21.927,12.047,36.875,37.617
						c7.942,13.588,16.156,27.639,27.424,39.204c14.984,15.38,32.688,23.179,52.616,23.179c19.928,0,37.63-7.799,52.614-23.179
						c11.268-11.565,19.481-25.616,27.425-39.205c14.946-25.569,23.456-37.616,36.872-37.616c13.418,0,21.93,12.047,36.878,37.617
						c7.942,13.588,16.157,27.64,27.426,39.204c14.984,15.38,32.688,23.179,52.616,23.179c19.928,0,37.631-7.799,52.615-23.179
						c11.269-11.564,19.482-25.616,27.427-39.204c14.947-25.57,23.46-37.617,36.877-37.617v-50c-19.929,0-37.631,7.799-52.616,23.18
						C871.428,805.2,863.214,819.252,855.271,832.84z"/>
					</g>
				</g>

			</svg>
			<figcaption>TEMPERATURE</figcaption>
		</a>
	</div>
	</div>

	</div>
	<div class="row">
		<div class="col col-33">
			<div class="svgIcon time">
				<a href="#/velocity">
					<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 486.208 486.208" style="enable-background:new 0 0 486.208 486.208;"
					xml:space="preserve">
					<g>
						<path d="M478.996,219.227l-186.039-54l33.976-41.794h20.909c-1.057,4.382,0.97,9.078,5.155,11.229
						c1.464,0.751,3.023,1.107,4.562,1.107c3.629,0,7.131-1.982,8.902-5.433L367.66,128c3.096-6.024,3.14-12.313,0.122-17.254
						c-2.839-4.648-7.896-7.314-13.881-7.314h-70.334c-9.332,0-19.438,6.49-24.031,15.432c-2.521,4.913-0.586,10.941,4.327,13.464
						c4.912,2.523,10.94,0.585,13.464-4.327c1.249-2.433,4.773-4.568,6.24-4.568h17.59l-29.163,35.874
						c-10.458-2.757-20.439-5.074-28.518-6.897c-3.374-0.762-13.447-2.201-27.428-2.201c-22.11,0-55.843,3.574-90.966,20.605
						c-47.539,23.053-81.532,72.511-93.938,92.705l-1.235,2.008c-9.854,16.021-20.043,32.589-26.492,51.212
						c-9.362,27.034,0.787,49.428,27.151,59.903c10.391,4.127,22.286,6.133,36.365,6.133c0.886,0,1.769-0.008,2.65-0.022
						c25.103-0.407,45.408-1.243,63.906-2.631c24.284-1.819,45.493-5.592,64.835-11.528c63.577-19.513,123.852-40.978,196.038-67.013
						c18.592-6.705,37.459-13.596,55.704-20.259c8.702-3.178,26.347-9.606,26.466-9.646c8.448-2.771,9.691-9.125,9.67-12.71
						l0.005-30.134C486.209,224.381,483.269,220.467,478.996,219.227z M466.204,254.143c-7.666,2.794-15.331,5.593-22.996,8.394
						c-18.228,6.655-37.073,13.539-55.629,20.229c-71.93,25.942-131.972,47.325-195.121,66.707
						c-17.901,5.495-37.681,8.997-60.462,10.704c-9.59,0.719-19.705,1.285-30.762,1.721c13.622-16.564,17.65-30.611,12.3-42.622
						c-6.312-14.161-24.358-22.08-55.173-24.212c-8.126-0.562-15.976-0.628-22.547-0.501l9.587-15.297l12.016,2.114
						c0.012,0.002,30.817,5.72,56.973,0.023c17.027-3.708,29.321-15.854,36.742-22.787c0.555-0.518,59.173-54.847,58.674-68.417
						c-0.146-3.929-1.743-7.445-4.665-9.894c-3.492-2.928-9.56-5.814-26.588-6.409c14.399-2.848,27.31-3.688,37.497-3.688
						c12.823,0,21.424,1.349,23.023,1.71c10.567,2.386,24.461,5.632,38.183,9.577l165.853,48.14l-189.004-4.362
						c-0.06-0.004-0.116-0.006-0.174-0.006c-43.828,0-79.896,50.9-81.411,53.066c-0.571,0.819-0.603,1.899-0.076,2.748
						c0.46,0.744,1.269,1.186,2.125,1.186c0.122,0,0.245-0.01,0.369-0.027l291.27-37.103L466.204,254.143z"/>
					</g>

				</svg>
				<figcaption>VELOCITY</figcaption>
			</a>
		</div>
	</div>
	<div class="col col-33">
		<div class="svgIcon velocity">
			<a href="#/acceleration">
				<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 950.002 950.002" style="enable-background:new 0 0 950.002 950.002;"
				xml:space="preserve">
				<g>
					<g>
						<path d="M949.869,741.307c-0.072-2.064-0.145-4.139-0.217-6.221c-0.075-2.082-0.152-4.17-0.229-6.268l-0.06-1.57l-0.03-0.787
						l-0.008-0.197l-0.02-1.76l-0.006-0.082l-0.025-0.326l-0.201-2.607c-0.271-3.479-0.542-6.973-0.813-10.467l-0.207-2.645
						l-0.312-3.43c-0.216-2.281-0.431-4.561-0.646-6.836c-0.223-2.271-0.447-4.539-0.669-6.799c-0.115-1.129-0.229-2.256-0.343-3.381
						c-0.138-1.041-0.276-2.08-0.414-3.119c-1.139-8.242-2.156-16.342-3.608-24.129c-0.686-3.896-1.319-7.727-2.031-11.461
						c-0.777-3.725-1.537-7.367-2.277-10.914c-1.402-7.098-3.163-13.727-4.647-19.855c-0.38-1.529-0.752-3.029-1.115-4.492
						c-0.404-1.457-0.8-2.877-1.185-4.264c-0.782-2.766-1.523-5.391-2.221-7.855c-0.71-2.461-1.336-4.771-1.99-6.889
						c-0.674-2.111-1.292-4.051-1.851-5.803c-0.829-2.574-1.528-4.742-2.079-6.455c-0.815-2.529-3.487-3.951-6.043-3.223
						l-160.613,45.771c-2.447,0.697-3.964,3.135-3.498,5.637c0.174,0.934,0.373,2.004,0.595,3.201c0.229,1.205,0.483,2.541,0.759,3.994
						c0.261,1.457,0.466,3.053,0.729,4.74c0.258,1.689,0.532,3.488,0.821,5.383c0.141,0.947,0.308,1.912,0.439,2.91
						c0.114,1,0.23,2.025,0.35,3.07c0.447,4.184,1.115,8.67,1.413,13.48c0.197,2.393,0.401,4.852,0.609,7.361
						c0.156,2.518,0.234,5.098,0.368,7.709c0.348,5.213,0.282,10.641,0.382,16.115l0.023,2.039l-0.072,1.805
						c-0.041,1.203-0.083,2.408-0.124,3.617c-0.032,1.203-0.065,2.41-0.098,3.619l-0.038,1.807l-0.11,2.602
						c-0.148,3.502-0.299,7.002-0.448,10.49l-0.111,2.613l-0.015,0.326l-0.003,0.08c0.002,0.393-0.03-3.111-0.02-1.598l-0.013,0.129
						l-0.048,0.516l-0.095,1.031c-0.124,1.373-0.248,2.738-0.371,4.102c-0.119,1.359-0.238,2.715-0.355,4.062
						c-0.16,1.342-0.319,2.678-0.479,4.004c-0.341,2.65-0.551,5.275-0.973,7.832c-0.37,2.559-0.734,5.072-1.09,7.535
						c-0.426,2.445-0.842,4.838-1.246,7.166c-0.366,2.33-0.856,4.574-1.292,6.746c-0.456,2.168-0.819,4.273-1.292,6.271
						c-0.461,1.998-0.903,3.91-1.324,5.73c-0.208,0.898-0.41,1.773-0.606,2.625c-0.202,0.73-0.397,1.438-0.588,2.125
						c-0.112,0.42-0.218,0.814-0.327,1.221H944.3c2.633,0,4.826-2.066,4.926-4.697c0.001-0.016,0.001-0.031,0.002-0.047
						c0.163-3.658,0.331-7.414,0.503-11.254c0.073-3.836,0.147-7.756,0.224-11.742c0.112-3.982-0.009-8.029-0.02-12.121
						C949.912,745.432,949.891,743.375,949.869,741.307z"/>
						<path d="M898.791,535.129c2.635-1.061,3.837-4.113,2.622-6.68c-0.54-1.141-1.171-2.475-1.886-3.984
						c-0.675-1.418-1.421-2.988-2.231-4.697c-1.049-2.137-2.183-4.447-3.396-6.916c-1.222-2.459-2.521-5.076-3.893-7.834
						c-0.695-1.434-1.378-2.617-2.093-3.963c-0.712-1.316-1.441-2.662-2.186-4.037c-1.497-2.744-3.028-5.613-4.671-8.551
						c-1.697-2.906-3.451-5.912-5.254-9.002c-0.904-1.541-1.821-3.104-2.749-4.684c-0.971-1.556-1.954-3.131-2.947-4.723
						c-1.997-3.171-4.038-6.412-6.112-9.706c-4.377-6.45-8.734-13.196-13.597-19.761c-1.194-1.653-2.395-3.312-3.598-4.976l-1.81-2.494
						l-1.884-2.453c-2.52-3.263-5.05-6.537-7.58-9.812c-2.575-3.237-5.239-6.406-7.85-9.587c-1.32-1.58-2.599-3.183-3.946-4.727
						c-1.351-1.539-2.697-3.074-4.04-4.603c-1.343-1.523-2.68-3.043-4.011-4.554c-1.323-1.517-2.657-3.008-4.033-4.45
						c-2.724-2.901-5.414-5.766-8.06-8.585c-2.65-2.81-5.394-5.451-8.005-8.091c-2.63-2.626-5.186-5.205-7.796-7.6
						c-2.581-2.416-5.093-4.766-7.521-7.04c-2.418-2.279-4.887-4.349-7.187-6.399c-2.319-2.028-4.542-3.971-6.656-5.819
						c-2.168-1.787-4.225-3.481-6.157-5.073c-1.934-1.586-3.743-3.07-5.416-4.442c-1.676-1.367-3.279-2.552-4.692-3.657
						c-2.058-1.579-3.796-2.913-5.177-3.973c-2.105-1.616-5.106-1.271-6.798,0.776l-86.204,104.346
						c-1.625,1.968-1.486,4.844,0.327,6.64c0.721,0.712,1.553,1.536,2.489,2.463c0.897,0.901,1.925,1.855,2.979,2.969
						c1.054,1.113,2.192,2.318,3.409,3.604c1.219,1.28,2.515,2.642,3.88,4.078c1.317,1.482,2.702,3.043,4.147,4.67
						c1.427,1.642,2.987,3.272,4.471,5.09c1.497,1.8,3.044,3.66,4.636,5.573c1.621,1.878,3.168,3.917,4.77,5.977
						c1.585,2.074,3.279,4.119,4.871,6.312c1.593,2.186,3.212,4.408,4.851,6.658c0.836,1.107,1.629,2.262,2.41,3.434
						c0.79,1.164,1.584,2.332,2.381,3.506c0.798,1.168,1.601,2.342,2.404,3.52c0.802,1.178,1.537,2.41,2.312,3.615
						c1.522,2.432,3.1,4.828,4.596,7.277c1.458,2.473,2.917,4.947,4.369,7.41l1.09,1.838l1.021,1.877
						c0.682,1.246,1.361,2.49,2.038,3.727c2.795,4.889,5.154,9.93,7.623,14.666c1.13,2.428,2.241,4.814,3.329,7.152
						c0.544,1.164,1.082,2.316,1.614,3.453c0.493,1.158,0.979,2.301,1.459,3.43c0.965,2.246,1.903,4.434,2.812,6.547
						c0.839,2.143,1.649,4.213,2.427,6.199c0.39,0.992,0.77,1.963,1.142,2.912c0.352,0.926,0.788,1.928,1.022,2.699
						c0.555,1.619,1.08,3.156,1.574,4.6c0.504,1.434,0.977,2.775,1.413,4.016c0.573,1.711,1.099,3.279,1.574,4.697
						c0.529,1.584,0.995,2.984,1.395,4.184c0.898,2.693,3.88,4.066,6.515,3.008L898.791,535.129z"/>
						<path d="M459.808,348.748c1.306,0.178,2.75,0.375,4.324,0.59c1.564,0.272,3.256,0.567,5.063,0.882
						c1.804,0.31,3.724,0.639,5.747,0.987c1.758,0.292,3.579,0.716,5.472,1.112l54.404-111.282c-2.697-0.421-5.372-0.839-7.993-1.248
						c-1.796-0.267-3.564-0.574-5.325-0.794c-1.761-0.213-3.501-0.424-5.218-0.632c-3.429-0.407-6.764-0.804-9.989-1.187
						c-3.234-0.277-6.359-0.545-9.358-0.802c-3-0.23-5.861-0.533-8.6-0.663c-2.734-0.134-5.328-0.262-7.765-0.382
						c-2.435-0.115-4.713-0.222-6.818-0.322c-2.107-0.034-4.043-0.065-5.792-0.093c-2.46-0.03-4.548-0.055-6.222-0.075
						c-2.655-0.032-4.852,2.043-4.979,4.695l-4.961,103.577c-0.122,2.552,1.719,4.774,4.25,5.121
						C457.126,348.38,458.383,348.553,459.808,348.748z"/>
						<path d="M606.027,405.781c1.462,1.063,2.848,2.071,4.15,3.02c1.304,0.934,2.525,1.808,3.654,2.617
						c0.489,0.336,1.296,0.948,1.955,1.438c0.679,0.507,1.326,0.99,1.939,1.448c1.339,0.999,2.521,1.881,3.533,2.636
						c2.276,1.698,5.506,1.124,7.065-1.25l71.03-108.196c1.56-2.374,0.803-5.567-1.661-6.98c-1.096-0.628-2.375-1.362-3.823-2.193
						c-0.665-0.382-1.365-0.783-2.101-1.205c-0.801-0.453-1.638-0.927-2.511-1.421c-2.021-1.114-4.207-2.317-6.542-3.604
						c-2.336-1.273-4.823-2.627-7.443-4.056c-2.497-1.251-5.121-2.566-7.86-3.939c-2.75-1.342-5.556-2.835-8.565-4.19
						c-2.995-1.372-6.091-2.791-9.273-4.25c-3.161-1.492-6.497-2.847-9.883-4.269c-3.4-1.392-6.821-2.914-10.394-4.257
						c-0.905-0.343-1.824-0.69-2.736-1.036l-30.642,132.998c1.694,1.064,3.29,2.192,4.862,3.21
						C602.611,403.515,604.361,404.676,606.027,405.781z"/>
						<path d="M364.434,348.206c1.372-0.181,2.719-0.405,4.064-0.547c1.345-0.136,2.674-0.271,3.984-0.405
						c2.615-0.271,5.158-0.535,7.619-0.791c2.468-0.165,4.853-0.325,7.142-0.479c1.142-0.078,2.26-0.154,3.353-0.229
						c1.09-0.073,2.182-0.166,3.118-0.167c1.929-0.051,3.76-0.098,5.479-0.143c1.714-0.054,3.316-0.105,4.8-0.152
						c1.829-0.012,3.509-0.023,5.025-0.033c1.67-0.009,3.146-0.017,4.408-0.024c2.84-0.015,5.072-2.42,4.886-5.254l-6.394-97.57
						c-0.187-2.834-2.713-4.927-5.53-4.571c-1.253,0.158-2.716,0.343-4.373,0.552c-1.536,0.195-3.237,0.412-5.089,0.648
						c-2.188,0.325-4.554,0.675-7.083,1.05c-2.521,0.384-5.205,0.793-8.034,1.224c-1.448,0.204-2.781,0.475-4.18,0.739
						c-1.395,0.266-2.822,0.539-4.279,0.817c-2.909,0.562-5.938,1.148-9.076,1.754c-3.113,0.709-6.333,1.443-9.642,2.196
						c-1.651,0.379-3.325,0.764-5.019,1.154c-1.692,0.396-3.389,0.88-5.11,1.325c-3.435,0.915-6.942,1.85-10.51,2.8
						c-3.532,1.065-7.123,2.147-10.757,3.243c-1.812,0.561-3.643,1.09-5.463,1.689c-1.812,0.619-3.637,1.24-5.467,1.865
						c-1.827,0.626-3.661,1.254-5.5,1.885c-1.84,0.626-3.683,1.255-5.501,1.972c-3.645,1.391-7.304,2.788-10.963,4.185
						c-3.643,1.426-7.226,3.006-10.817,4.501c-1.79,0.763-3.585,1.499-5.354,2.282c-1.757,0.811-3.508,1.619-5.253,2.425
						c-1.741,0.806-3.476,1.61-5.201,2.409c-1.725,0.798-3.443,1.584-5.113,2.451c-3.352,1.692-6.663,3.364-9.919,5.008
						c-3.257,1.633-6.361,3.435-9.444,5.094c-3.069,1.69-6.087,3.302-8.934,5.039c-2.863,1.698-5.648,3.351-8.342,4.949
						c-2.702,1.576-5.208,3.278-7.664,4.816c-2.439,1.563-4.776,3.062-6.999,4.487c-2.175,1.493-4.239,2.909-6.178,4.24
						c-1.934,1.332-3.744,2.578-5.418,3.731c-1.672,1.153-3.151,2.296-4.514,3.284c-1.847,1.364-3.424,2.528-4.7,3.47
						c-2.131,1.573-2.631,4.544-1.141,6.735l40.515,59.566c1.442,2.12,4.261,2.785,6.494,1.524c1.029-0.58,2.245-1.267,3.632-2.049
						c1.209-0.669,2.517-1.459,3.994-2.228c1.476-0.77,3.072-1.6,4.777-2.488c1.7-0.889,3.51-1.835,5.417-2.832
						c1.94-0.93,3.979-1.908,6.107-2.928c2.138-0.996,4.307-2.137,6.646-3.132c2.321-1.019,4.721-2.072,7.189-3.155
						c2.443-1.125,5.031-2.108,7.649-3.158c2.632-1.02,5.268-2.174,8.029-3.149c2.749-0.991,5.545-1.998,8.374-3.018
						c1.403-0.533,2.847-0.984,4.294-1.446c1.444-0.465,2.896-0.932,4.353-1.401c1.454-0.47,2.914-0.942,4.378-1.416
						c1.472-0.447,2.965-0.847,4.448-1.275c2.979-0.824,5.938-1.738,8.938-2.504c3.002-0.743,6.004-1.486,8.994-2.225
						c1.484-0.395,2.99-0.704,4.489-1.013c1.496-0.315,2.988-0.629,4.475-0.942c1.482-0.315,2.959-0.628,4.429-0.94
						c1.473-0.294,2.954-0.521,4.415-0.784c2.922-0.507,5.808-1.009,8.648-1.501C358.885,348.973,361.688,348.585,364.434,348.206z"/>
						<path d="M88.175,425.22c-1.062,1.502-2.128,3.011-3.199,4.526c-1.068,1.514-2.14,3.034-3.216,4.559
						c-1.071,1.527-2.073,3.111-3.115,4.669c-2.054,3.137-4.156,6.25-6.168,9.422c-1.965,3.199-3.93,6.398-5.887,9.585l-1.46,2.386
						l-1.386,2.425c-0.921,1.612-1.839,3.221-2.754,4.822c-3.74,6.353-6.989,12.847-10.291,19.015
						c-1.537,3.145-3.049,6.238-4.529,9.266c-0.734,1.512-1.461,3.01-2.178,4.488c-0.675,1.498-1.341,2.979-1.999,4.441
						c-1.31,2.918-2.584,5.758-3.817,8.504c-1.15,2.781-2.262,5.467-3.329,8.045c-1.046,2.586-2.103,5.033-3.004,7.408
						c-0.889,2.377-1.733,4.633-2.527,6.752c-0.79,2.117-1.529,4.098-2.212,5.93c-0.631,1.85-1.21,3.549-1.734,5.084
						c-0.68,2.018-1.264,3.75-1.741,5.168c-0.845,2.506,0.44,5.225,2.91,6.172l37.71,14.457c2.4,0.92,5.103-0.154,6.212-2.473
						c0.55-1.148,1.207-2.523,1.962-4.102c0.626-1.301,1.318-2.742,2.073-4.311c0.802-1.547,1.669-3.217,2.596-5.004
						c0.924-1.781,1.906-3.68,2.942-5.68c1.044-1.994,2.246-4.039,3.439-6.199c1.208-2.148,2.467-4.387,3.77-6.705
						c1.373-2.273,2.792-4.625,4.252-7.043c0.727-1.207,1.464-2.43,2.21-3.668c0.785-1.215,1.58-2.443,2.383-3.688
						c1.606-2.48,3.247-5.012,4.916-7.59c3.546-5.02,7.014-10.307,10.933-15.406c0.957-1.289,1.918-2.582,2.882-3.879l1.445-1.947
						l1.514-1.904c2.016-2.539,4.04-5.086,6.064-7.633c2.061-2.516,4.2-4.967,6.279-7.439c1.054-1.227,2.066-2.479,3.145-3.672
						c1.08-1.191,2.156-2.379,3.228-3.562c1.07-1.182,2.135-2.359,3.195-3.531c1.05-1.178,2.11-2.335,3.211-3.444
						c2.166-2.243,4.306-4.459,6.411-6.64c2.101-2.177,4.294-4.197,6.364-6.239c2.086-2.027,4.104-4.027,6.182-5.86
						c2.044-1.86,4.032-3.669,5.956-5.42c1.908-1.761,3.874-3.333,5.69-4.911c1.828-1.557,3.58-3.049,5.246-4.468
						c1.636-1.295,3.188-2.523,4.646-3.679c1.45-1.154,2.807-2.235,4.062-3.235c0.576-0.476,1.356-1.046,2.015-1.547
						c0.676-0.511,1.321-0.997,1.933-1.458c1.333-1.007,2.51-1.895,3.518-2.655c2.267-1.711,2.618-4.973,0.774-7.133l-42.935-50.299
						c-1.844-2.16-5.121-2.325-7.166-0.355c-0.909,0.876-1.972,1.899-3.174,3.058c-0.552,0.531-1.134,1.092-1.744,1.679
						c-0.621,0.603-1.212,1.152-1.982,1.939c-1.472,1.485-3.063,3.092-4.764,4.808c-1.692,1.717-3.493,3.544-5.392,5.47
						c-1.765,1.912-3.621,3.922-5.557,6.019c-1.912,2.113-3.974,4.242-5.969,6.576c-2.003,2.322-4.073,4.723-6.202,7.19
						c-2.155,2.438-4.24,5.057-6.385,7.714c-2.129,2.671-4.373,5.336-6.514,8.16c-2.135,2.824-4.305,5.695-6.501,8.603
						C90.296,422.222,89.229,423.71,88.175,425.22z"/>
						<path d="M10.155,601.572c-0.251,1.236-0.545,2.684-0.878,4.32c-0.305,1.502-0.643,3.166-1.011,4.977
						c-0.361,1.852-0.714,4.039-1.108,6.271c-0.388,2.254-0.8,4.652-1.234,7.18c-0.21,1.26-0.45,2.562-0.649,3.875
						c-0.177,1.305-0.357,2.639-0.542,4c-0.704,5.453-1.631,11.32-2.165,17.588c-0.31,3.123-0.628,6.33-0.953,9.609
						c-0.268,3.283-0.447,6.645-0.678,10.053c-0.54,6.811-0.639,13.875-0.864,21.021L0,693.152l0.013,2.697
						c0.01,1.801,0.02,3.605,0.03,5.414c0.011,1.807,0.022,3.617,0.032,5.428l0.017,2.717l0.104,2.719
						c0.147,3.617,0.294,7.236,0.441,10.84l0.111,2.695l0.034,0.873l0.048,0.65l0.096,1.299c0.128,1.732,0.255,3.459,0.382,5.18
						c0.127,1.721,0.254,3.434,0.379,5.139c0.173,1.777,0.344,3.549,0.516,5.309c0.173,1.758,0.345,3.504,0.516,5.24
						c0.086,0.865,0.172,1.729,0.258,2.588c0.107,0.846,0.214,1.689,0.32,2.529c0.426,3.35,0.845,6.645,1.255,9.871
						c0.495,3.211,0.979,6.354,1.449,9.412c0.44,3.057,1.007,6.014,1.528,8.873c0.043,0.229,0.086,0.455,0.128,0.682
						c0.435,2.338,2.469,4.031,4.846,4.031h13.291c2.838,0,5.09-2.389,4.923-5.221c-0.045-0.756-0.091-1.52-0.142-2.291
						c-0.166-2.756-0.366-5.598-0.43-8.531c-0.096-2.928-0.194-5.936-0.295-9.01c-0.019-3.072-0.038-6.211-0.057-9.404
						c-0.005-0.797-0.01-1.598-0.015-2.4c0.017-0.791,0.035-1.586,0.053-2.385c0.035-1.592,0.07-3.197,0.106-4.812
						c0.035-1.611,0.071-3.234,0.107-4.865c0.08-1.707,0.159-3.424,0.24-5.146c0.08-1.723,0.161-3.453,0.241-5.188l0.061-1.303
						l0.03-0.652l0.004-0.082c0-0.207,0.004,0.191,0.006,0.123l0.012-0.158l0.025-0.314l0.202-2.523
						c0.268-3.365,0.537-6.74,0.807-10.117l0.206-2.527l0.291-2.521c0.194-1.678,0.387-3.354,0.58-5.027
						c0.192-1.672,0.384-3.34,0.575-5.002l0.285-2.488l0.369-2.471c1.012-6.57,1.872-13.033,3.132-19.221
						c0.591-3.1,1.12-6.15,1.727-9.119c0.661-2.957,1.307-5.85,1.936-8.666c1.164-5.641,2.673-10.885,3.901-15.746
						c0.315-1.213,0.623-2.402,0.924-3.562c0.318-1.143,0.661-2.225,0.977-3.297c0.637-2.133,1.242-4.156,1.81-6.059
						c0.581-1.918,1.058-3.633,1.614-5.354c0.583-1.756,1.117-3.365,1.601-4.82c0.526-1.586,0.991-2.986,1.389-4.186
						c0.895-2.693-0.668-5.58-3.412-6.311l-33.319-8.885C13.513,597.064,10.721,598.789,10.155,601.572z"/>
						<path d="M387.317,774.27c10.84,5.299,22.323,7.811,33.628,7.811c28.378,0,55.65-15.811,68.953-43.023
						c2.562-5.238,4.545-11.021,5.835-16.467l77.577-336.717l29.544-128.233l18.303-79.437c2.13-9.245-5.224-15.543-12.602-15.543
						c-4.319,0-8.647,2.159-11.087,7.148l-37.245,76.183l-54.944,112.386L352.104,671.689
						C333.501,709.74,349.267,755.668,387.317,774.27z M423.789,665.836c20.759,0,37.588,16.828,37.588,37.588
						c0,20.758-16.829,37.588-37.588,37.588s-37.588-16.83-37.588-37.588C386.201,682.662,403.03,665.836,423.789,665.836z"/>
					</g>
				</g>
			</svg>
			<figcaption>ACCELERATION</figcaption>
		</a>
	</div>
	</div>
	<div class="col col-33">
		<div class="svgIcon storage">
			<a href="#/storage">
				<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 430.091 430.091" style="enable-background:new 0 0 430.091 430.091;" xml:space="preserve">
				<g>
					<path d="M269.723,47.545H160.368c-3.844,0-6.962,3.119-6.962,6.965v321.07c0,3.846,3.118,6.965,6.962,6.965h109.355
					c3.844,0,6.962-3.119,6.962-6.965V54.51C276.685,50.664,273.567,47.545,269.723,47.545z M215.045,321.378
					c-13.439,0-24.333-10.895-24.333-24.333s10.894-24.333,24.333-24.333c13.439,0,24.333,10.895,24.333,24.333
					S228.484,321.378,215.045,321.378z M259.798,197.172c0,3.842-3.119,6.962-6.968,6.962h-75.569c-3.849,0-6.968-3.12-6.968-6.962
					v-6.962c0-3.855,3.119-6.972,6.968-6.972h75.569c3.849,0,6.968,3.117,6.968,6.972V197.172z M259.798,162.349
					c0,3.844-3.119,6.963-6.968,6.963h-75.569c-3.849,0-6.968-3.119-6.968-6.963v-6.972c0-3.844,3.119-6.963,6.968-6.963h75.569
					c3.849,0,6.968,3.119,6.968,6.963V162.349z M259.798,127.517c0,3.851-3.119,6.969-6.968,6.969h-75.569
					c-3.849,0-6.968-3.117-6.968-6.969v-6.962c0-3.843,3.119-6.962,6.968-6.962h75.569c3.849,0,6.968,3.119,6.968,6.962V127.517z
					M259.798,92.696c0,3.843-3.119,6.962-6.968,6.962h-75.569c-3.849,0-6.968-3.119-6.968-6.962v-6.964
					c0-3.852,3.119-6.969,6.968-6.969h75.569c3.849,0,6.968,3.117,6.968,6.969V92.696z"/>
					<path d="M430.09,84.614c0-3.284-2.773-6.202-6.196-6.511c-32.422-2.948-64.846-5.896-97.269-8.834
					c-0.357-0.034-1.369-0.005-2.45,0.303l-37.908,9.574v297.806l39.226,5.548c0.477,0.103,1.093,0,1.131-0.002
					c32.423-2.946,64.847-6.228,97.27-9.17c3.422-0.314,6.197-3.226,6.197-6.512C430.088,291.084,430.09,160.353,430.09,84.614z
					M335.454,105.018c0-3.519,2.773-6.179,6.196-5.939c22.407,1.583,44.813,3.167,67.221,4.75c3.423,0.24,6.195,3.126,6.195,6.455
					v6.012c0,3.317-2.772,5.858-6.195,5.665c-22.407-1.282-44.814-2.563-67.221-3.836c-3.422-0.197-6.196-3.214-6.196-6.731V105.018z
					M415.066,206.533c0,3.316-2.773,6.046-6.196,6.076c-22.407,0.243-44.814,0.489-67.221,0.729c-3.422,0.034-6.196-2.785-6.196-6.31
					v-6.372c0-3.526,2.773-6.37,6.196-6.365c22.406,0.061,44.813,0.132,67.221,0.186c3.423,0.013,6.196,2.71,6.196,6.038V206.533z
					M408.87,182.391c-22.407-0.264-44.814-0.526-67.221-0.793c-3.422-0.04-6.196-2.925-6.196-6.452v-6.371
					c0-3.525,2.773-6.307,6.196-6.217c22.407,0.562,44.813,1.131,67.221,1.705c3.423,0.084,6.195,2.848,6.195,6.177
					c0,2.406,0.001,3.608,0.001,6.014C415.066,179.771,412.293,182.436,408.87,182.391z M415.066,146.376
					c0,3.316-2.773,5.912-6.196,5.801c-22.407-0.773-44.814-1.547-67.221-2.318c-3.422-0.115-6.196-3.068-6.196-6.589v-6.377
					c0-3.52,2.773-6.235,6.196-6.071c22.407,1.067,44.813,2.147,67.221,3.226c3.423,0.165,6.196,2.983,6.196,6.312V146.376z"/>
					<path d="M103.467,69.269c-32.424,2.938-64.848,5.886-97.271,8.834c-3.422,0.309-6.195,3.227-6.195,6.511
					c0,75.739,0.002,206.471-0.001,282.202c0,3.286,2.774,6.198,6.196,6.512c32.424,2.941,64.848,6.224,97.271,9.17
					c0.037,0.002,0.653,0.105,1.131,0.002l39.226-5.548V79.146l-37.908-9.574C104.834,69.264,103.822,69.235,103.467,69.269z
					M94.637,207.028c0,3.524-2.773,6.344-6.195,6.31c-22.407-0.239-44.814-0.485-67.222-0.729c-3.422-0.03-6.196-2.76-6.196-6.076
					v-6.018c0-3.328,2.773-6.025,6.196-6.038c22.408-0.055,44.815-0.125,67.222-0.186c3.422-0.005,6.195,2.839,6.195,6.365V207.028z
					M94.637,175.146c0,3.527-2.773,6.412-6.195,6.452c-22.407,0.267-44.814,0.529-67.222,0.793c-3.422,0.045-6.196-2.62-6.196-5.938
					c0-2.405,0.001-3.607,0.001-6.014c0-3.329,2.772-6.093,6.195-6.177c22.408-0.574,44.814-1.144,67.222-1.705
					c3.422-0.09,6.195,2.691,6.195,6.217V175.146z M94.637,143.27c0,3.521-2.773,6.474-6.195,6.589
					c-22.407,0.771-44.814,1.545-67.222,2.318c-3.422,0.111-6.196-2.484-6.196-5.801v-6.017c0-3.328,2.773-6.146,6.196-6.312
					c22.408-1.078,44.814-2.158,67.222-3.226c3.422-0.164,6.195,2.552,6.195,6.071V143.27z M94.637,111.393
					c0,3.518-2.773,6.534-6.195,6.731c-22.407,1.273-44.814,2.554-67.222,3.836c-3.422,0.193-6.195-2.348-6.195-5.665v-6.012
					c0-3.329,2.772-6.215,6.195-6.455c22.408-1.583,44.814-3.167,67.222-4.75c3.422-0.239,6.195,2.421,6.195,5.939V111.393z"/>
				</g>
			</svg>

			</svg>
			<figcaption>STORAGE</figcaption>
		</a>
	</div>
	</div>

	</div>
	<div class="row">
		<div class="col col-33">
			<div class="svgIcon force">
				<a href="#/force">
					<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 554.625 554.625" style="enable-background:new 0 0 554.625 554.625;"
					xml:space="preserve">
					<g>
						<polygon points="372.938,554.625 359.388,258.188 344.652,258.188 333.091,554.625 	"/>
						<path d="M361.549,172.125c7.114,0,12.89-7.564,12.89-14.679L361.836,15.577c0-7.114-0.048-15.577-7.163-15.577h-1.721
						c-7.115,0-7.736,8.463-7.736,15.577l-12.029,141.869c0,7.115,5.766,14.679,12.89,14.679H361.549z"/>
						<path d="M531.073,324.36l0.928-1.444c3.835-5.996-2.964-11.073-8.97-14.898l-113.096-86.493
						c-5.995-3.834-15.481-3.041-19.307,2.964l-8.319,13.034c-3.834,5.996-0.564,14.927,5.441,18.762l126.35,65.742
						C520.085,325.842,527.239,330.355,531.073,324.36z"/>
						<path d="M180.961,322.906l0.927,1.444c3.834,5.995,10.978,1.482,16.983-2.353l126.35-65.742c5.996-3.834,9.266-12.766,5.432-18.762
						l-8.319-13.034c-3.835-5.996-13.312-6.789-19.307-2.964l-113.105,86.512C183.926,311.843,177.126,316.911,180.961,322.906z"/>
						<circle cx="353.019" cy="212.766" r="19.823"/>
						<path d="M27.722,80.296c-2.515-0.794-5.192,0.612-5.996,3.136c-0.784,2.525,0.612,5.202,3.136,5.996
						c3.787,1.186,59.728,18.408,111.7,18.408c33.258,0,64.882-7.057,80.172-29.874c14.172-21.143,10.691-35.668,7.363-42.438
						c-4.619-9.399-14.497-15.701-25.742-16.438c-11.771-0.708-22.596,4.513-29.003,14.124c-1.463,2.19-0.87,5.164,1.329,6.627
						c2.19,1.454,5.154,0.88,6.627-1.329c4.494-6.732,12.077-10.49,20.425-9.878c7.851,0.517,14.669,4.772,17.786,11.112
						c4.188,8.501,1.798,20.187-6.713,32.895C173.541,125.221,29.185,80.755,27.722,80.296z"/>
						<path d="M24.844,120.994c4.179,1.339,68.037,21.439,127.793,21.439c34.76,0,68.133-6.809,87.563-28.047
						c1.789-1.951,1.645-4.982-0.296-6.761c-1.96-1.788-4.982-1.645-6.76,0.296c-48.75,53.311-203.834,4.466-205.393,3.959
						c-2.505-0.775-5.202,0.593-6.015,3.098C20.933,117.495,22.329,120.182,24.844,120.994z"/>
						<path d="M26.517,157.007c1.75-0.039,172.393-7.287,192.589,59.173c0.622,2.065,2.524,3.385,4.581,3.385
						c0.459,0,0.928-0.067,1.396-0.201c2.524-0.765,3.949-3.433,3.185-5.967c-22.348-73.497-194.846-66.325-202.189-65.933
						c-2.63,0.125-4.676,2.352-4.552,4.992C21.641,155.094,23.821,157.389,26.517,157.007z"/>
						<path d="M170.576,219.746c1.606,4.208,1.224,8.53-1.138,12.823c-5.355,9.725-17.652,12.508-26.498,10.271
						c-4.169-1.071-13.856-4.982-13.856-18.131c0-2.639-2.142-4.781-4.781-4.781c-2.639,0-4.781,2.142-4.781,4.781
						c0,13.55,8.062,24.05,21.038,27.377c2.697,0.698,5.584,1.052,8.54,1.052c10.882,0,22.605-4.887,28.707-15.97
						c3.739-6.78,4.322-13.99,1.711-20.855c-3.815-9.993-14.209-18.599-28.505-23.62C111.25,178.733,29.75,178.561,26.307,178.561
						c-2.64,0-4.781,2.142-4.781,4.781s2.142,4.781,4.781,4.781c0.832,0,83.318,0.172,121.53,13.588
						C159.302,205.766,167.813,212.498,170.576,219.746z"/>
					</g>
				</svg>
				<figcaption>FORCE</figcaption>
			</a>
		</div>
	</div>
	<div class="col col-33">
		<div class="svgIcon power">
			<a href="#/power">
				<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 550.085 550.085" style="enable-background:new 0 0 550.085 550.085;"
				xml:space="preserve">
				<g>
					<path d="M441.676,540c0-0.462-0.07-0.929-0.266-1.372l-34.915-80.097l-26.677-132.013v-44.58
					c10.954,3.668,22.547,6.936,34.835,9.665v5.438c0,1.517,1.228,2.749,2.754,2.749h13.744c1.521,0,2.754-1.232,2.754-2.749V285.7
					h6.301c2.272,0,4.121-1.849,4.121-4.126s-1.849-4.126-4.121-4.126h-6.301v-3.78h6.301c2.272,0,4.121-1.848,4.121-4.123
					s-1.849-4.126-4.121-4.126h-6.301v-6.335h12.601c1.578,0,2.95-1.071,3.338-2.595c0.387-1.531-0.317-3.123-1.704-3.867
					l-68.321-36.891v-22.094c8.648,1.993,17.735,3.78,27.274,5.344v7.57c0,1.52,1.228,2.754,2.749,2.754h13.749
					c1.521,0,2.754-1.234,2.754-2.754V195.21h6.301c2.282,0,4.125-1.848,4.125-4.128c0-2.275-1.843-4.126-4.125-4.126h-6.296v-3.78
					h6.305c2.277,0,4.121-1.853,4.121-4.128s-1.844-4.125-4.121-4.125h-6.305v-5.652h7.794c1.563,0,2.917-1.053,3.318-2.562
					c0.401-1.505-0.271-3.097-1.634-3.867l-56.005-31.666v-3.689c0-0.675-0.201-1.333-0.569-1.893l-24.876-37.64V66.07
					c0-1.897-1.54-3.435-3.435-3.435c-1.904,0-3.439,1.538-3.439,3.435v21.884l-24.871,37.64c-0.369,0.56-0.569,1.218-0.569,1.893
					v3.096l-37.188,21.343c-35.458-21.891-52.516-44.659-58.476-54.003v-4.018h4.464c1.61,0,2.921-1.31,2.921-2.926
					c0-1.61-1.307-2.919-2.921-2.919H226.4v-2.681h4.464c1.61,0,2.921-1.309,2.921-2.919c0-1.61-1.307-2.921-2.921-2.921H226.4v-4.004
					h5.521c1.104,0,2.07-0.745,2.35-1.815c0.282-1.071-0.194-2.194-1.155-2.74l-39.667-22.423v-2.618c0-0.479-0.143-0.943-0.406-1.344
					l-17.609-26.656V2.437c0-1.349-1.094-2.437-2.434-2.437c-1.346,0-2.436,1.087-2.436,2.437v15.499l-17.616,26.656
					c-0.259,0.401-0.406,0.866-0.406,1.344v2.188l-39.824,22.857c-0.961,0.55-1.426,1.673-1.144,2.739
					c0.292,1.066,1.253,1.806,2.357,1.806h8.104v4.004h-3.813c-1.61,0-2.924,1.312-2.924,2.922c0,1.61,1.309,2.919,2.924,2.919h3.813
					v2.681h-3.813c-1.61,0-2.924,1.309-2.924,2.919s1.309,2.926,2.924,2.926h3.813v8.032c0,1.076,0.875,1.946,1.946,1.946h6.476
					c1.328,3.512,3.316,7.867,6.188,12.792l-32.646,17.894c-0.98,0.535-1.468,1.664-1.19,2.737c0.273,1.081,1.249,1.832,2.361,1.832
					h9.563v4.979h-3.82c-1.605,0-2.915,1.31-2.915,2.919s1.309,2.926,2.915,2.926h3.82v2.681h-3.82c-1.605,0-2.915,1.309-2.915,2.919
					s1.309,2.924,2.915,2.924h3.82v8.034c0,1.076,0.871,1.951,1.944,1.951h4.308c1.839,9.733,7.444,30.299,23.627,52.43l-13.864,59.473
					l-24.742,56.757c-0.133,0.312-0.187,0.639-0.187,0.975h-6.833v7.141h36.522v-7.141h-8.718l38.223-54.539h13.047l37.75,54.539
					h-8.396v7.141h36.522v-7.141h-6.672c0-0.331-0.049-0.662-0.191-0.975l-24.729-56.729l-1.337-6.608
					c16.176,7.611,35.241,14.104,57.664,18.812v5.134c0,1.517,1.223,2.754,2.744,2.754h13.754c1.517,0,2.749-1.237,2.749-2.754v-11.346
					h6.301c2.277,0,4.126-1.848,4.126-4.126c0-2.272-1.849-4.125-4.126-4.125h-6.301v-3.78h6.301c2.277,0,4.126-1.853,4.126-4.126
					c0-2.275-1.849-4.126-4.126-4.126h-6.301v-7.024h34.145v67.383l-30.774,132.018l-34.938,80.144
					c-0.196,0.443-0.261,0.91-0.261,1.372h-9.649v10.085h51.569V540h-12.303l53.961-76.998h18.421L411.392,540h-11.854v10.085h51.562
					V540H441.676L441.676,540z M399.005,456.123h-0.774l-43.119-20.349l36.449-16.438L399.005,456.123z M272.224,191.082
					c0-0.761,0.616-1.377,1.377-1.377h30.942c0.761,0,1.372,0.616,1.372,1.377c0,0.758-0.611,1.375-1.372,1.375h-30.942
					C272.84,192.457,272.224,191.836,272.224,191.082z M278.986,198.552v7.999c0,1.52,1.232,2.754,2.744,2.754h13.759
					c1.512,0,2.744-1.234,2.744-2.754V195.21h6.305c2.273,0,4.126-1.848,4.126-4.128c0-2.275-1.853-4.126-4.126-4.126h-6.305v-3.78
					h6.305c2.273,0,4.126-1.853,4.126-4.128s-1.853-4.125-4.126-4.125h-6.305v-5.652h10.286c4.326,2.062,8.83,4.091,13.544,6.062
					v39.726l-29.953,16.419c-18.622-14.155-32.81-28.439-43.07-40.387C258.288,193.805,268.294,196.295,278.986,198.552z
					M273.601,180.425c-0.761,0-1.377-0.616-1.377-1.377s0.616-1.377,1.377-1.377h30.942c0.761,0,1.372,0.616,1.372,1.377
					s-0.611,1.377-1.372,1.377H273.601z M280.438,162.398l7.239-4.158c2.37,1.396,4.816,2.782,7.336,4.158H280.438z M322.068,171.058
					c-1.382-0.588-2.684-1.19-4.028-1.787h4.028V171.058z M339.443,265.337c5.68,2.807,11.603,5.512,17.764,8.093l-6.077,8.76
					L339.443,265.337z M371.609,321.338c0.336,0.485,0.816,0.774,1.334,0.957v1.139h-44.001v-0.481
					c0.477-0.195,0.925-0.476,1.241-0.928l20.946-30.183L371.609,321.338z M335.831,259.083h31.335l-7.635,11.005
					C351.205,266.619,343.28,262.943,335.831,259.083z M372.943,260.407v14.923c-2.763-1.009-5.535-2.026-8.214-3.085L372.943,260.407z
					M372.943,242.051l-18.826-24.091l18.826-24.092V242.051z M372.859,250.876l-0.914,1.33h-41.621l-1.382-1.983v-0.063l21.684-27.736
					L372.859,250.876z M328.942,241.228v-46.538l18.188,23.271L328.942,241.228z M328.942,178.119c0.099,0.04,0.187,0.082,0.285,0.117
					l-0.285,0.271V178.119z M322.068,222.895v28.579c-8.593-5.031-16.54-10.237-23.854-15.502L322.068,222.895z M328.984,259.924
					l18.804,27.083l-18.846,27.144v-54.245C328.952,259.91,328.971,259.919,328.984,259.924z M328.238,330.308h45.326l3.02,14.935
					h-51.832L328.238,330.308z M368.239,350.75l-17.837,8.881l-18.029-8.881H368.239z M350.411,365.769l30.233,14.906l-30.494,12.676
					l-29.692-12.657L350.411,365.769z M387.37,415.202l-38.798,17.482l-36.86-17.398l38.415-15.971L387.37,415.202z M389.722,410.228
					l-32.496-13.861l27.396-11.388L389.722,410.228z M382.717,375.56L356.6,362.688l21.361-10.642L382.717,375.56z M372.943,313.618
					l-18.463-26.606l7.925-11.421c3.44,1.372,6.964,2.693,10.538,3.986V313.618z M379.823,277.747v-18.664h34.835v6.34h-5.381
					c-2.282,0-4.121,1.851-4.121,4.126c0,2.275,1.848,4.123,4.121,4.123h5.381v3.78h-5.381c-2.282,0-4.121,1.853-4.121,4.126
					c0,2.277,1.848,4.13,4.121,4.13h5.381v1.835C402.355,284.776,390.763,281.467,379.823,277.747z M440.215,280.202
					c0.756,0,1.382,0.616,1.382,1.372s-0.626,1.382-1.382,1.382h-30.938c-0.761,0-1.382-0.616-1.382-1.382
					c0-0.756,0.621-1.372,1.382-1.372H440.215z M440.215,268.173c0.756,0,1.382,0.616,1.382,1.377c0,0.758-0.626,1.376-1.382,1.376
					h-30.938c-0.761,0-1.382-0.618-1.382-1.376c0-0.761,0.621-1.377,1.382-1.377H440.215z M432.911,252.207h-53.088v-28.665
					L432.911,252.207z M350.626,213.496l-21.524-27.534l5.857-5.586c10.271,3.79,21.389,7.301,33.402,10.442L350.626,213.496z
					M372.943,177.923l-9.059-8.652h9.059V177.923z M372.943,162.398h-16.255l-1.451-1.391l17.706-16.914V162.398z M351.251,157.206
					l-21.524-20.554h43.049L351.251,157.206z M355.923,169.271l16.76,16.003l-1.657,2.128c-11.812-3.036-22.752-6.424-32.87-10.081
					l8.429-8.051H355.923z M432.654,189.705c0.756,0,1.372,0.616,1.372,1.377c0,0.758-0.616,1.375-1.372,1.375h-30.942
					c-0.756,0-1.377-0.616-1.377-1.375c0-0.761,0.621-1.377,1.377-1.377H432.654z M432.654,177.671c0.756,0,1.372,0.616,1.372,1.377
					s-0.616,1.377-1.372,1.377h-30.942c-0.756,0-1.377-0.616-1.377-1.377s0.621-1.377,1.377-1.377H432.654z M379.823,139.074
					l41.247,23.324h-41.247V139.074z M407.098,169.271v5.652h-5.386c-2.277,0-4.126,1.85-4.126,4.125s1.849,4.128,4.126,4.128h5.386
					v3.78h-5.386c-2.277,0-4.126,1.851-4.126,4.126c0,0.894,0.346,1.678,0.831,2.35c-6.413-1.19-12.61-2.48-18.594-3.876v-20.285
					H407.098z M328.942,128.513l22.001-33.295l22,33.295v2.539c-0.019,0.037-0.056,0.061-0.084,0.1h-43.646
					c-0.074-0.196-0.093-0.401-0.195-0.592c-0.019-0.035-0.052-0.049-0.075-0.082V128.513L328.942,128.513z M328.942,143.506
					l18.323,17.501l-1.447,1.391h-16.876V143.506z M338.622,169.271l-6.23,5.943c-1.181-0.448-2.292-0.917-3.449-1.375v-4.569H338.622z
					M322.068,138.507v23.891h-18.566c-4.153-2.114-8.078-4.268-11.85-6.433L322.068,138.507z M230.869,90.005
					c0.537,0,0.976,0.434,0.976,0.973c0,0.537-0.439,0.975-0.976,0.975h-21.917c-0.534,0-0.976-0.438-0.976-0.975
					c0-0.539,0.441-0.973,0.976-0.973H230.869z M230.869,81.482c0.537,0,0.976,0.434,0.976,0.976c0,0.535-0.439,0.976-0.976,0.976
					h-21.917c-0.534,0-0.976-0.437-0.976-0.976c0-0.542,0.441-0.976,0.976-0.976H230.869z M193.455,54.141l29.213,16.517h-29.213
					V54.141z M193.455,75.527h19.317v4.004h-3.82c-1.61,0-2.919,1.312-2.919,2.922c0,1.61,1.305,2.919,2.919,2.919h3.82v2.681h-3.82
					c-1.61,0-2.919,1.309-2.919,2.919s1.305,2.926,2.919,2.926h3.82v8.032c0,1.076,0.868,1.946,1.944,1.946h9.74
					c0.359,0,0.679-0.124,0.971-0.292c7.645,10.944,24.54,31.055,55.557,50.577l-15.145,8.688c-1.354,0.78-2.009,2.362-1.612,3.867
					c0.406,1.505,1.769,2.553,3.328,2.553H279v5.652h-5.386c-2.28,0-4.13,1.85-4.13,4.125s1.855,4.128,4.13,4.128H279v3.78h-5.386
					c-2.28,0-4.13,1.851-4.13,4.126c0,0.467,0.124,0.894,0.264,1.309c-9.052-2.151-17.525-4.497-25.445-7
					c-6.083-7.528-10.394-13.756-13.112-17.98c0.357-0.35,0.581-0.842,0.581-1.381v-8.035h4.464c1.61,0,2.921-1.309,2.921-2.924
					c0-1.61-1.312-2.919-2.921-2.919h-4.464v-2.681h4.464c1.61,0,2.921-1.309,2.921-2.921c0-1.61-1.312-2.919-2.921-2.919h-4.464
					v-4.492h8.928c1.113,0,2.088-0.756,2.362-1.841c0.273-1.083-0.22-2.208-1.204-2.737l-48.389-26.129V75.527H193.455z
					M214.31,156.042c-0.534,0-0.979-0.436-0.979-0.975c0-0.535,0.441-0.971,0.979-0.971h21.908c0.534,0,0.98,0.437,0.98,0.971
					c0,0.539-0.446,0.975-0.98,0.975H214.31z M214.31,147.52c-0.534,0-0.979-0.434-0.979-0.976c0-0.539,0.441-0.973,0.979-0.973h21.908
					c0.534,0,0.98,0.434,0.98,0.973c0,0.537-0.446,0.976-0.98,0.976H214.31z M193.455,113.965l37.596,20.302h-37.596V113.965z
					M218.123,139.138v4.492h-3.809c-1.615,0-2.919,1.309-2.919,2.919c0,1.612,1.304,2.921,2.919,2.921h3.809v2.681h-3.809
					c-1.615,0-2.919,1.31-2.919,2.919c0,1.615,1.304,2.924,2.919,2.924h3.809v8.035c0,1.076,0.875,1.946,1.951,1.946h6.744
					c2.173,3.47,5.706,8.73,10.653,15.168c-17.333-5.932-31.862-12.618-44.022-19.604v-24.401H218.123z M149.601,220.951l3.68-15.786
					l14.954,7.369l-18.165,9.052C149.906,221.371,149.764,221.166,149.601,220.951z M152.546,131.061
					c-3.815-4.331-6.926-8.473-9.498-12.344l9.498-5.204V131.061z M161.772,139.138h22.715l-8.898,12.818
					c-4.119-3.036-7.843-6.079-11.236-9.096L161.772,139.138z M154.452,200.162l2.471-10.58h32.105l2.138,10.58H154.452z
					M185.248,204.057l-12.631,6.289l-12.769-6.289H185.248z M188.585,184.716H157.42v-0.34c0.333-0.138,0.653-0.338,0.877-0.658
					l14.834-21.382l14.505,20.89c0.24,0.348,0.579,0.548,0.947,0.684V184.716z M162.711,147.314l8.058,11.605L157.42,178.14v-35.61
					C159.082,144.117,160.855,145.713,162.711,147.314z M172.626,214.7l21.41,10.552l-21.602,8.979l-18.493-7.885
					c-0.469-0.561-0.898-1.113-1.358-1.673L172.626,214.7z M167.408,236.32l-2.982,1.239c-1.496-1.444-2.919-2.898-4.306-4.35
					L167.408,236.32z M163.522,242.156c5.491,5.141,11.647,10.202,18.601,15.067l-10.802,4.87l-26.107-12.326L163.522,242.156z
					M167.581,240.469l4.84-2.014l26.381,11.252l-12.391,5.586C179.365,250.515,173.123,245.54,167.581,240.469z M201.765,252.641
					l2.724,13.458c-5.05-2.655-9.824-5.409-14.261-8.258L201.765,252.641z M177.449,236.369l19.399-8.065l3.612,17.879L177.449,236.369
					z M177.008,212.516l15.126-7.533l3.37,16.647L177.008,212.516z M188.585,177.762l-13.082-18.839l0.775-1.12
					c3.799,2.649,7.895,5.279,12.307,7.874V177.762z M178.772,154.21l9.812-14.132v20.615
					C185.084,158.55,181.859,156.38,178.772,154.21z M177.071,70.657l-1.027-0.98l12.545-11.98v12.96H177.071z M188.585,75.527v6.133
					l-6.415-6.133H188.585z M173.214,66.982l-15.24-14.552h30.49L173.214,66.982z M176.527,75.527l11.866,11.336l-15.623,19.987
					l-15.24-19.499l12.377-11.824H176.527z M188.585,92.952v34.128l-13.338-17.063L188.585,92.952z M157.42,46.662l15.583-23.581
					l15.581,23.581v1.792c-0.021,0.028-0.044,0.044-0.063,0.072h-30.91c-0.054-0.138-0.068-0.287-0.145-0.415
					c-0.014-0.026-0.033-0.04-0.047-0.059V46.662z M157.42,57.286l12.979,12.396l-1.026,0.98H157.42V57.286z M157.42,75.527h6.851
					l-6.851,6.543V75.527z M157.42,93.535l12.883,16.482l-12.883,16.479V93.535z M157.42,132.82l15.355-19.644l15.747,20.15
					l-0.651,0.94h-29.478l-0.973-1.4V132.82z M152.546,53.739v16.918h-29.478L152.546,53.739z M118.222,83.429
					c-0.534,0-0.976-0.436-0.976-0.975c0-0.542,0.437-0.976,0.976-0.976h21.912c0.534,0,0.975,0.434,0.975,0.976
					c0,0.534-0.436,0.975-0.975,0.975H118.222z M118.222,91.949c-0.534,0-0.976-0.439-0.976-0.976c0-0.539,0.437-0.973,0.976-0.973
					h21.912c0.534,0,0.975,0.434,0.975,0.973c0,0.537-0.436,0.976-0.975,0.976H118.222z M134.79,103.518
					c0.518-0.352,0.879-0.912,0.879-1.586v-8.032h4.469c1.61,0,2.924-1.309,2.924-2.926c0-1.61-1.31-2.919-2.924-2.919h-4.469v-2.681
					h4.469c1.61,0,2.924-1.309,2.924-2.919c0-1.61-1.31-2.922-2.924-2.922h-4.469v-4.004h16.876v32.432l-12.102,6.632
					C137.936,110.381,136.09,106.629,134.79,103.518z M114.675,134.268l24.532-13.444c2.737,4.214,6.084,8.732,10.251,13.444H114.675z
					M110.916,148.007c-0.537,0-0.976-0.434-0.976-0.976c0-0.534,0.439-0.975,0.976-0.975h21.917c0.534,0,0.968,0.436,0.968,0.975
					c0,0.542-0.434,0.976-0.968,0.976H110.916z M110.916,156.534c-0.537,0-0.976-0.437-0.976-0.976c0-0.542,0.439-0.976,0.976-0.976
					h21.917c0.534,0,0.968,0.434,0.968,0.976c0,0.539-0.434,0.976-0.968,0.976H110.916z M125.026,168.463h1.391
					c1.076,0,1.951-0.875,1.951-1.951v-8.035h4.464c1.61,0,2.919-1.309,2.919-2.924c0-1.605-1.309-2.921-2.919-2.921h-4.464v-2.679
					h4.464c1.61,0,2.919-1.312,2.919-2.926c0-1.61-1.309-2.919-2.919-2.919h-4.464v-4.98h24.178v47.724l-6.735,28.903
					C131.924,195.812,126.828,177.594,125.026,168.463z M147.958,228.029l3.412,1.452c2.763,3.25,5.801,6.506,9.075,9.74l-16.722,6.954
					L147.958,228.029z M142.213,252.659l24.439,11.537l-30.317,13.668L142.213,252.659z M122.55,335.666h-10.599l22.71-52.104h24.402
					L122.55,335.666z M143.977,278.69l27.307-12.314l26.084,12.314H143.977z M231.123,335.666H220.05l-36.074-52.104h24.442
					L231.123,335.666z M207.032,278.69h-0.546l-30.537-14.412l9.978-4.497c5.983,3.96,12.459,7.785,19.581,11.388L207.032,278.69z
					M210.028,268.934L193.455,186.9v-18.414c13.322,7.365,29.391,14.337,48.603,20.435c10.398,12.713,25.61,28.712,46.262,44.627
					l-34.802,19.079c-1.377,0.749-2.07,2.345-1.678,3.871c0.387,1.519,1.759,2.585,3.33,2.585h13.507v7.024h-5.396
					c-2.271,0-4.121,1.851-4.121,4.126c0,2.273,1.85,4.126,4.121,4.126h5.396v3.78h-5.396c-2.271,0-4.121,1.853-4.121,4.125
					c0,2.278,1.85,4.126,4.121,4.126h5.396v2.147C245.689,283.638,226.3,276.865,210.028,268.934z M294.229,280.893
					c0.757,0,1.373,0.607,1.373,1.372c0,0.761-0.616,1.377-1.373,1.377h-30.947c-0.756,0-1.372-0.616-1.372-1.377
					c0-0.756,0.616-1.372,1.372-1.372H294.229z M294.229,268.861c0.757,0,1.373,0.616,1.373,1.377c0,0.758-0.616,1.376-1.373,1.376
					h-30.947c-0.756,0-1.372-0.614-1.372-1.376c0-0.761,0.616-1.377,1.372-1.377H294.229z M268.595,252.207l25.779-14.132
					c6.543,4.779,13.558,9.519,21.128,14.132H268.595z M323.1,352.309l21.113,10.403l-26.63,13.268L323.1,352.309z M315.586,384.591
					l27.47,11.715l-33.444,13.902L315.586,384.591z M307.47,419.37l34.513,16.283l-42.811,19.294L307.47,419.37z M279.724,536.564
					h-14.97l32.07-73.562h34.452L279.724,536.564z M309.967,456.123l38.555-17.38l36.827,17.38H309.967z M417.379,536.564
					l-50.937-73.562h34.514l32.062,73.562H417.379z"/>
				</g>
			</svg>
			<figcaption>POWER</figcaption>
		</a>
	</div>
	</div>
	<div class="col col-33">
		<div class="svgIcon time">
			<a href="#/time">
				<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 485.563 485.562" style="enable-background:new 0 0 485.563 485.562;"
                xml:space="preserve">
                <g>
                    <g id="Layer_2_18_">
                        <g>
                            <path d="M311.409,251.414c5.32-1.537,17.778-5.145,23.569-22.177l11.931-35.086l4.799,1.63c2.197,0.748,4.605-0.438,5.353-2.635
                            l6.401-18.824c0.748-2.197-0.438-4.604-2.637-5.351l-154.671-52.592c-2.196-0.747-4.606,0.44-5.353,2.636l-6.401,18.823
                            c-0.746,2.196,0.441,4.604,2.636,5.352l4.799,1.632l-12.145,35.725c-5.735,16.865-1.941,22.56,5.255,31.179l31.299,37.48
                            l-3.489,10.26c-11.976,2.599-43.272,9.418-47.485,10.635c-5.319,1.539-17.78,5.143-23.572,22.177l-10.271,30.21l-4.8-1.631
                            c-2.195-0.747-4.606,0.438-5.354,2.635l-6.398,18.823c-0.748,2.197,0.439,4.604,2.636,5.353l154.672,52.593
                            c2.194,0.746,4.604-0.44,5.352-2.638l6.397-18.82c0.749-2.197-0.437-4.606-2.636-5.354l-4.797-1.632l10.486-30.849
                            c5.735-16.863,1.944-22.561-5.254-31.176l-31.297-37.481l3.486-10.26C275.897,259.453,307.193,252.635,311.409,251.414z
                            M246.043,278.771l34.035,40.753c2.611,3.127,3.994,4.834,4.369,6.397c0.451,1.877-0.152,5.201-1.838,10.156l-10.488,30.851
                            l-116.316-39.55l10.269-30.209c3.243-9.535,9.122-11.237,13.413-12.479c3.356-0.97,32.146-7.282,50.679-11.291
                            c2.604-0.563,4.725-2.454,5.583-4.978l6.245-18.365c0.851-2.508,0.337-5.277-1.36-7.31l-33.932-40.631l-0.103-0.125
                            c-2.612-3.127-3.995-4.834-4.369-6.398c-0.45-1.877,0.15-5.198,1.837-10.156l12.146-35.725l116.319,39.55L320.6,224.348
                            c-3.241,9.537-9.118,11.237-13.41,12.479c-3.354,0.971-32.145,7.285-50.676,11.291c-2.605,0.564-4.728,2.453-5.587,4.979
                            l-6.243,18.363C243.831,273.969,244.348,276.736,246.043,278.771z"/>
                            <path d="M337.935,423.581c-3.395,1.924-6.896,3.766-10.399,5.474c-0.567,0.277-1.114,0.58-1.643,0.907
                            c-0.562,0.195-1.121,0.422-1.676,0.68c-15.206,7.09-31.062,12.082-47.396,14.977c-0.209,0.03-0.418,0.042-0.629,0.08
                            c-3.851,0.681-7.77,1.248-11.646,1.692c-0.042,0.007-0.085,0.017-0.127,0.022c-7.118,0.785-14.316,1.186-21.589,1.186
                            c-83.862,0-155.381-53.81-181.88-128.71c-0.399-1.143-0.801-2.283-1.18-3.428c-6.352-19.101-9.802-39.515-9.802-60.722
                            c0-21.251,3.465-41.71,9.844-60.846c0.139-0.418,0.273-0.833,0.414-1.252c0.381-1.114,0.775-2.224,1.177-3.331
                            c0.187-0.52,0.376-1.037,0.568-1.553c22.02-59.268,72.388-104.863,134.541-120.242c0.039-0.009,0.079-0.012,0.118-0.021
                            c0.919-0.228,1.845-0.45,2.772-0.664c0.104-0.023,0.204-0.061,0.304-0.086c13.559-3.108,27.658-4.779,42.126-4.853l0.167,19.829
                            c0.051,6.156,3.938,7.934,8.632,3.955l41.886-35.504c4.693-3.979,4.643-10.43-0.123-14.33L249.92,2.045
                            c-4.762-3.899-8.616-2.056-8.564,4.099l0.167,19.79c-60.9,0.337-118.103,24.199-161.204,67.298
                            c-4.246,4.246-8.298,8.632-12.165,13.141c-0.023,0.026-0.047,0.047-0.071,0.075c-0.143,0.166-0.278,0.339-0.419,0.505
                            c-33.925,39.809-53.051,89.425-54.552,142.061c-0.037,0.409-0.081,0.815-0.091,1.233c-0.041,1.756-0.062,3.541-0.062,5.306
                            c0,2.894,0.059,5.827,0.168,8.72c0.012,0.339,0.056,0.67,0.089,1.003c1.944,47.958,18.527,93.3,47.621,130.856
                            c0.099,0.129,0.178,0.267,0.278,0.396c2.842,3.668,5.847,7.302,8.92,10.798c0.198,0.225,0.415,0.42,0.619,0.634
                            c3.111,3.508,6.323,6.944,9.666,10.286c34.123,34.124,77.088,56.187,123.726,64.068c0.142,0.026,0.285,0.054,0.427,0.08
                            c0.106,0.016,0.211,0.023,0.315,0.039c12.455,2.062,25.167,3.129,38.042,3.129c33.881,0,66.517-7.209,97.004-21.42
                            c0.657-0.306,1.281-0.657,1.882-1.028c0.683-0.235,1.354-0.514,2.016-0.837c4.183-2.042,8.361-4.236,12.412-6.529
                            c8.882-5.03,12.008-16.306,6.979-25.188C358.092,421.677,346.815,418.555,337.935,423.581z"/>
                            <path d="M402.976,148.173c3.567,5.309,9.407,8.174,15.354,8.174c3.544,0,7.13-1.017,10.292-3.143
                            c8.471-5.693,10.723-17.174,5.03-25.646c-2.599-3.865-5.345-7.698-8.176-11.391c-6.2-8.108-17.798-9.65-25.905-3.45
                            c-8.106,6.202-9.65,17.802-3.446,25.907C398.496,141.725,400.801,144.938,402.976,148.173z"/>
                            <path d="M426.446,196.708c1.188,3.711,2.279,7.516,3.247,11.311c2.131,8.36,9.648,13.921,17.896,13.921
                            c1.509,0,3.047-0.187,4.577-0.577c9.891-2.52,15.866-12.583,13.345-22.472c-1.15-4.513-2.45-9.04-3.866-13.456
                            c-3.11-9.72-13.514-15.079-23.233-11.965C428.69,176.584,423.333,186.988,426.446,196.708z"/>
                            <path d="M414.674,380.14c-7.724-6.675-19.391-5.828-26.067,1.892c-2.556,2.956-5.232,5.869-7.958,8.657
                            c-7.134,7.301-6.998,19.001,0.304,26.136c3.595,3.513,8.257,5.263,12.913,5.263c4.803,0,9.602-1.862,13.221-5.566
                            c3.246-3.323,6.438-6.792,9.479-10.313C423.239,398.486,422.393,386.815,414.674,380.14z"/>
                            <path d="M454.675,243.736c-10.219-0.307-18.722,7.719-19.024,17.92c-0.115,3.907-0.356,7.859-0.714,11.745
                            c-0.933,10.163,6.551,19.16,16.715,20.093c0.574,0.053,1.144,0.078,1.711,0.078c9.44,0,17.503-7.203,18.381-16.792
                            c0.426-4.639,0.714-9.354,0.852-14.019C472.897,252.562,464.878,244.041,454.675,243.736z"/>
                            <path d="M446.456,315.401c-9.509-3.723-20.228,0.966-23.949,10.472c-1.423,3.635-2.978,7.28-4.623,10.828
                            c-4.29,9.26-0.261,20.244,9,24.535c2.517,1.166,5.157,1.717,7.758,1.717c6.978,0,13.654-3.97,16.78-10.716
                            c1.956-4.224,3.81-8.559,5.503-12.889C460.647,329.845,455.959,319.123,446.456,315.401z"/>
                            <path d="M383.518,96.938c6.075-8.204,4.35-19.777-3.854-25.851c-3.735-2.767-7.608-5.454-11.51-7.992
                            c-8.557-5.563-20.004-3.139-25.567,5.418c-5.562,8.556-3.139,20.002,5.416,25.567c3.279,2.13,6.529,4.389,9.668,6.713
                            c3.306,2.447,7.161,3.629,10.984,3.629C374.311,104.422,379.895,101.833,383.518,96.938z"/>
                        </g>
                    </g>
                </g>
            </svg>


			<figcaption>TIME</figcaption>
		</a>
	</div>
	<div class="back">
		<a href="#/newgrid" class="button icon-right ion-chevron-right button-clear button-dark next">NEXT</a>
	</div>
	
	</ion-scroll>

	</ion-pane>