<!--<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">CURR_CON</h1>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <button class="button button-small button-assertive">
          Currency
        </button>
</ion-pane>
    </ion-content>-->
    <div id="nav">
        <ul>
          <li class="active">
          <li><a href="#/currency">Currency</a></li>
          <li><a href="#/meter">Length</a></li>
          <li><a href="#/storage">Storage</a></li>
          <li><a href="#/weight">Mass</a></li>
          <li><a href="#/magnetic">magnetic</a></li>
          <li><a href="#/area">Area</a></li>
          <li><a href="#/temp">Temperature</a></li>
          <li><a href="#/volume">Volume</a></li>
          <li><a href="#/time">Time</a></li>
          <li><a href="#/speed">Speed</a></li>
          <li><a href="#/fuel">FUEL CONSUMPTION</a></li>
          <li><a href="#/pressure">Pressure</a></li>
          <li><a href="#/acceleration">Acceleration</a></li>
          <li><a href="#/angle">Angle</a></li>
          <li><a href="#/force">Force</a></li>
          <li><a href="#/sound">SOUND</a></li>
          <li><a href="#/power">POWER</a></li>
          <li><a href="#/torque">Torque</a></li>
          <li><a href="#/viscosity">Viscosity</a></li>
          <li><a href="#/flowrate">Flowrate</a></li>
          <li><a href="#/energy">Energy</a></li>

        </ul>
      </div>
