<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Magnetic</h1>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <div class="borderColor">
            <input type="number" placeholder="" ng-model="values.fromValue" placeholder="Tap">
            <input  type="text" ionic-autocomplete="{items: items, onSelect:onSelect}"placeholder="Tap to Search" ng-model="search"/>
       </div>
       <div>
         <h4>Gauss squre centimeter:{{value1}}</h4>
         <h4>Tesla squre centimeter:{{value2}}</h4>
         <h4>Tesla squre meter:{{value3}}</h4>
         <h4>Weber:{{value4}}</h4>
         <h4>Milliweber:{{value5}}</h4>
         <h4>Microweber:{{value6}}</h4>
         <h4>Line:{{value7}}</h4>
         <h4>Kiloline:{{value8}}</h4>
         <h4>Megaline:{{value9}}</h4>
         <h4>Maxwell/Longton:{{value10}}</h4>
         <h4>Volt second:{{value11}}</h4>
       </div>
    </ion-content>
</ion-pane>
