<ion-pane>
<ion-header-bar class="bar-light">
<h1 class="title">CONVERSIONS</h1>
</ion-header-bar>
<br>
<br>
<br>
<div class="row">
  <div class="col">
      <div class="svgCurrency">
          <a href="#/currency">
              <img src="img/menu/currency.svg">
              <figcaption>CURRENCY</figcaption>
          </a>
      </div>
  </div>
  <div class="col">
      <div class="svgMass">
          <a href="#/mass">
              <img src="img/menu/mass.svg">
              <figcaption>MASS</figcaption>
          </a>
      </div>
  </div>
  <div class="col">
      <div class="svgLength">
          <a href="#/meter">
              <img src="img/menu/length.svg">
              <figcaption>LENGTH</figcaption>
          </a>
      </div>
  </div>
</div>
<div class="row">
  <div class="col">
      <div class="svgArea">
          <a href="#/area">
              <img src="img/menu/area.svg">
              <figcaption>AREA</figcaption>
          </a>
      </div>
  </div>
  <div class="col">
      <div class="svgVolume">
          <a href="#/volume">
              <img src="img/menu/volume.svg">
              <figcaption>VOLUME</figcaption>
          </a>
      </div>
  </div>
  <div class="col">
      <div class="svgTemp">
          <a href="#/temp">
              <img src="img/menu/temperature.svg">
              <figcaption>TEMPERATURE</figcaption>
          </a>
      </div>
  </div>
</div>
<div class="row">
  <div class="col">.col</div>
  <div class="col">.col</div>
  <div class="col">.col</div>
</div>
<div class="row">
  <div class="col">.col</div>
  <div class="col">.col</div>
  <div class="col">.col</div>
</div>
</ion-pane>
