<ion-pane>
<ion-header-bar class="bar-stable">
<h1 class="title" style="font-size:13px;">CONVERSIONS</h1>
</ion-header-bar>
<br>
<br>
<br>
<ion-scroll direction = "y" zooming="false">

<div class="row">
    <div class="col col-33">
        <div class="svgIcon flowrate">
            <a href="#/flowrate">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 93.528 93.528" style="enable-background:new 0 0 93.528 93.528;"
                xml:space="preserve">
                <g>
                    <g>
                        <polygon points="4.514,0 4.514,62.348 9.514,62.348 9.514,5 84.014,5 84.014,62.348 89.014,62.348 89.014,0        "/>
                        <path d="M32.887,37.472c0.372,0.684,1.076,1.071,1.803,1.071c0.331,0,0.666-0.08,0.977-0.249c0.994-0.54,1.363-1.784,0.822-2.779
                        l-4.863-8.955c-0.289-0.532-0.799-0.909-1.392-1.03c-0.595-0.121-1.21,0.028-1.684,0.404l-8.253,6.558
                        c-0.886,0.704-1.034,1.993-0.33,2.879c0.704,0.886,1.994,1.033,2.879,0.329l3.75-2.979L22.53,57.122
                        c-0.187,1.117,0.568,2.172,1.684,2.358c0.114,0.02,0.228,0.027,0.339,0.027c0.984,0,1.852-0.709,2.019-1.711l4.075-24.45
                        L32.887,37.472z"/>
                        <path d="M77.223,35.33l-8.252-6.558c-0.475-0.376-1.089-0.524-1.684-0.404c-0.594,0.121-1.104,0.498-1.393,1.03l-4.863,8.955
                        c-0.541,0.995-0.172,2.239,0.822,2.779c0.311,0.169,0.646,0.249,0.977,0.249c0.728,0,1.432-0.388,1.804-1.071l2.239-4.125
                        l4.076,24.45c0.166,1.002,1.035,1.713,2.019,1.713c0.112,0,0.226-0.01,0.339-0.028c1.116-0.187,1.871-1.242,1.686-2.358
                        L70.924,35.56l3.75,2.979c0.885,0.704,2.175,0.557,2.879-0.33C78.258,37.324,78.11,36.035,77.223,35.33z"/>
                        <path d="M41.652,52.316c-0.289-0.532-0.799-0.909-1.392-1.03c-0.595-0.121-1.21,0.028-1.684,0.403l-8.252,6.559
                        c-0.886,0.705-1.034,1.994-0.33,2.879c0.704,0.887,1.994,1.034,2.879,0.33l3.75-2.979l-4.067,24.4
                        c-0.186,1.117,0.568,2.172,1.685,2.358c0.114,0.019,0.227,0.028,0.339,0.028c0.984,0,1.852-0.711,2.019-1.713l4.075-24.449
                        l2.24,4.125c0.371,0.684,1.075,1.07,1.803,1.07c0.33,0,0.665-0.08,0.976-0.248c0.994-0.541,1.363-1.785,0.823-2.779L41.652,52.316
                        z"/>
                        <path d="M68.616,66.512l-8.252-6.559c-0.475-0.376-1.088-0.523-1.685-0.404c-0.593,0.121-1.103,0.498-1.392,1.03l-4.863,8.955
                        c-0.541,0.995-0.172,2.239,0.822,2.778c0.311,0.17,0.646,0.25,0.976,0.25c0.728,0,1.433-0.389,1.804-1.072l2.239-4.124
                        l4.075,24.448c0.167,1.002,1.035,1.714,2.02,1.714c0.111,0,0.225-0.009,0.338-0.028c1.116-0.186,1.871-1.242,1.685-2.357
                        l-4.066-24.401l3.75,2.979c0.886,0.703,2.175,0.557,2.88-0.33S69.502,67.217,68.616,66.512z"/>
                        <path d="M53.235,51.217c1.115-0.187,1.869-1.242,1.684-2.359l-4.066-24.4l3.75,2.979c0.885,0.704,2.176,0.557,2.879-0.33
                        c0.705-0.886,0.557-2.175-0.328-2.879l-8.254-6.558c-0.474-0.376-1.088-0.524-1.684-0.404c-0.593,0.121-1.103,0.498-1.392,1.03
                        L40.96,27.25c-0.541,0.995-0.172,2.239,0.822,2.779c0.311,0.169,0.646,0.249,0.976,0.249c0.728,0,1.432-0.388,1.803-1.072
                        l2.24-4.124l4.074,24.449c0.168,1.002,1.035,1.713,2.02,1.713C53.007,51.244,53.12,51.235,53.235,51.217z"/>
                    </g>
                </g>
            </svg>
            <figcaption>FLOWRATE</figcaption>
        </a>
    </div>
</div>
<div class="col col-33">
    <div class="svgIcon fuel">
        <a href="#/fuel">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 76.557 76.558" style="enable-background:new 0 0 76.557 76.558;"
            xml:space="preserve">
            <g>
                <path d="M68.862,70.07V5.527c0-2.516-2.041-4.558-4.558-4.558H35.747c-2.517,0-4.557,2.042-4.557,4.558v22.641
                c-3.751,0.386-6.62,1.636-8.516,3.762c-2.632,2.952-2.332,6.352-2.302,6.524c0.002,0.16,0.41,15.908,0.41,18.404
                c0,0.296,0.014,0.661,0.033,1.081c0.217,5.014-0.479,7.956-4.686,8.171c-1.224,0.048-2.123-0.246-2.878-0.972
                c-1.908-1.82-2.32-5.771-2.314-7.153V31.103c1.527-0.857,2.508-2.537,2.363-4.399c-0.208-2.663,0.035-11.165,3.73-15.157
                c1.425-1.54,3.226-2.259,5.664-2.259c2.565,0,4.644-2.078,4.644-4.643S25.259,0,22.694,0c-4.997,0-9.312,1.812-12.482,5.237
                c-7.081,7.647-6.287,20.722-6.174,22.186c0.121,1.56,1.003,2.873,2.251,3.618v26.935c-0.005,0.705,0.056,6.987,3.74,10.516
                c1.558,1.497,3.564,2.276,5.831,2.276c0.165,0,0.334-0.004,0.501-0.014c9.638-0.483,9.227-9.908,9.094-13.006
                c-0.014-0.343-0.029-0.639-0.029-0.881c0-2.56-0.395-17.874-0.419-18.695c-0.005-0.071-0.133-1.771,1.182-3.199
                c1.025-1.114,2.735-1.835,5.006-2.135v37.235h-0.972c-1.951,0-3.535,1.581-3.535,3.533v2.952h45.913v-2.756
                C72.598,71.744,70.924,70.07,68.862,70.07z M42.757,47.69c0,1.446-1.175,2.621-2.621,2.621h-0.341
                c-1.448,0-2.621-1.175-2.621-2.621v-5.967c0-1.636,1.327-2.964,2.965-2.964c1.445,0,2.62,1.178,2.62,2.624v6.307H42.757z
                M62.883,19.948c0,1.635-1.328,2.962-2.966,2.962H40.136c-1.638,0-2.964-1.327-2.964-2.962V9.597c0-1.636,1.326-2.962,2.964-2.962
                h19.781c1.636,0,2.966,1.326,2.966,2.962V19.948z"/>
            </g>
        </svg>
        <figcaption>FUEL</figcaption>
    </a>
</div>
</div>
<div class="col col-33">
    <div class="svgIcon torque">
        <a href="#/torque">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 35.933 35.933" style="enable-background:new 0 0 35.933 35.933;" xml:space="preserve">
            <g>
                <path d="M29.646,10.461c-3.14-2.693-7.215-4.331-11.682-4.331C8.043,6.13,0,14.173,0,24.099c0,0.266,0.026,2.75,0.038,3.015v2.69
                H35.86V27.31l0.034-0.196c0.011-0.266,0.039-2.749,0.039-3.015C35.934,15.291,29.646,10.461,29.646,10.461z M4.37,27.114
                c-0.015-0.164,0.006-2.549-0.005-2.713H8.05v-1.19H4.624c0-0.014-0.259,0.002-0.259,0.002c0.145-3.085,1.32-6.163,3.539-8.59
                l0.093-0.1l0.166,0.144l2.452,2.454l0.77-0.772L8.78,13.746c2.358-2.156,5.35-3.393,8.542-3.535l0.185-0.001
                c0,0,0.077-0.003,0.072,0.046v3.634h0.981v-3.679c0.484,0.02,0.968,0.077,1.445,0.152c2.741,0.362,5.289,1.545,7.352,3.43
                l-2.6,2.602l0.723,0.726l2.497-2.498l0.138-0.111l0.118,0.156c2.159,2.36,3.394,5.35,3.539,8.543h-3.681v1.19l3.698-0.005
                c0,0,0.003,2.561-0.01,2.709L4.37,27.114z M22.8,18.528c0,0-5.844,1.792-6.963,2.909c-1.121,1.122-1.121,2.935,0.002,4.057
                c1.117,1.121,2.932,1.121,4.054,0C21.011,24.372,22.8,18.528,22.8,18.528z"/>

            </g>
        </svg>

        <figcaption>TORQUE</figcaption>
    </a>
</div>
</div>

</div>
<div class="row">
    <div class="col col-33">
        <div class="svgIcon sound">
            <a href="#/sound">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 124.964 124.964" style="enable-background:new 0 0 124.964 124.964;"
                xml:space="preserve">
                <g>
                    <path d="M20.665,13.449C20.665,6.021,26.686,0,34.113,0c7.428,0,13.449,6.021,13.449,13.449c0,7.428-6.021,13.449-13.449,13.449
                    C26.686,26.898,20.665,20.877,20.665,13.449z M49.712,11.38l39.246-6.925l-3.17,34.241l-14.582-6.111l-0.699,7.548l-6.557-2.922
                    c-4.248,6.229-11.835,9.108-19.342,9.108c-2.653,0-5.291-0.366-7.77-1.06l-4.975,23.216c-0.759,3.543-3.246,5.816-6.188,6.986
                    L25.65,117.85c-0.002,3.928-3.189,7.114-7.12,7.114c-0.002,0-0.003,0-0.004,0c-3.932-0.003-7.118-3.192-7.116-7.125l0.026-44.798
                    c-2.804-2.391-4.538-5.861-3.708-9.736l6.221-29.028c1.158-5.409,6.642-8.004,11.298-8.139l0.04,0.003c0,0,1.641,0.008,3.056,0.278
                    c1.48,0.283,2.777,0.995,2.777,0.995c2.822,1.368,5.544,3.938,6.648,7.129c5.72,2.5,14.38,1.67,17.651-3.341
                    c0.068-0.104,0.156-0.187,0.23-0.286l0.432-4.672l-7.457-3.125L49.712,11.38z M59.54,28.854c1.061-0.053,2.146,0.203,3.104,0.828
                    c1.406,0.917,2.202,2.398,2.33,3.951l2.338,1.042l0.332-3.584l-8-3.353L59.54,28.854z M90.296,36.416l18.644,12.023l1.543-2.393
                    L91.84,34.023L90.296,36.416z M114.835,4.241l-0.649-2.772L92.588,6.524l0.648,2.772L114.835,4.241z M92.997,20.869l-0.166,2.843
                    l24.447,1.428l0.166-2.843L92.997,20.869z"/>
                </g>
            </svg>

            <figcaption>SOUND</figcaption>
        </a>
    </div>
</div>
<div class="col col-33">
    <div class="svgIcon energy">
        <a href="#/energy">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 959.759 959.76" style="enable-background:new 0 0 959.759 959.76;"
            xml:space="preserve">
            <g>
                <path d="M239.898,953.699l307.2-308.6c12.601-12.6,3.601-34.1-14.2-34.1h-24.5c-16.699,0-26.1-19.301-15.699-32.4l162.899-205.4
                c10.4-13.1,1.101-32.4-15.7-32.4h-81.899c-16.5,0-25.9-18.8-16-32L750.098,32c9.9-13.2,0.5-32-16-32h-329.1
                c-7.601,0-14.601,4.3-17.9,11.1l-160.9,325.5c-6.6,13.3,3.1,28.9,17.9,28.9h74.2c14.8,0,24.5,15.6,17.9,28.9l-110,222.6
                c-6.6,13.301,3.1,28.9,17.9,28.9h69.9c14.8,0,24.399,15.4,18,28.699L207.798,930.9
                C197.898,951.199,223.998,969.699,239.898,953.699z"/>
            </g>
        </svg>
        <figcaption>ENERGY</figcaption>
    </a>
</div>
</div>
<div class="col col-33">
    <div class="svgIcon pressure">
        <a href="#/pressure">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 96.202 96.202" style="enable-background:new 0 0 96.202 96.202;"
            xml:space="preserve">
            <g>
                <g>
                    <path d="M76.515,42.885c0-1.379-1.129-2.508-2.508-2.508H61.205c-1.379,0-2.508,1.128-2.508,2.508c0,1.38,1.129,2.508,2.508,2.508
                    h1.38c0,0.075,0,0.125,0,0.201v14.019h10.031v-14.02c0-0.075,0-0.125,0-0.201h1.379C75.386,45.393,76.515,44.276,76.515,42.885z"
                    />
                    <path d="M67.601,96.202c2.771,0,5.016-2.244,5.016-5.017v-0.101h3.033c1.381,0,2.509-1.129,2.509-2.508s-1.128-2.509-2.509-2.509
                    h-3.033v-4.061c-0.777,0.25-1.594,0.375-2.445,0.375h-7.586v3.674H50.371c-1.379,0-2.508,1.129-2.508,2.508
                    c0,1.381,1.129,2.509,2.508,2.509h12.214v0.101C62.584,93.957,64.841,96.202,67.601,96.202z"/>
                    <path d="M70.17,0H19.048c-3.022,0-5.467,2.445-5.467,5.467v68.941c0,3.021,2.445,5.467,5.467,5.467h43.549h7.586
                    c0.879,0,1.705-0.213,2.445-0.576c1.793-0.891,3.034-2.746,3.034-4.891V64.15c0-1.127-0.915-2.043-2.044-2.043h-0.977H62.608
                    H32.264c-1.128,0-2.044-0.916-2.044-2.045l-0.025-41.378c0-1.129,0.915-2.044,2.044-2.044h24.477c1.129,0,2.081,0.928,2.081,2.056
                    l0.025,10.859c0,0.464,0.125,0.877,0.351,1.254c0.439,0.727,1.229,1.229,2.157,1.229h16.827h1.956c1.38,0,2.508-1.128,2.508-2.508
                    c0-1.38-1.128-2.508-2.508-2.508h-1.956h-1.254h-1.254V5.48C75.649,2.458,73.205,0,70.17,0z"/>
                </g>
            </g>
        </svg>

        <figcaption>PRESSURE</figcaption>
    </a>
</div>
</div>

</div>
<div class="row">
    <div class="col col-33">
        <div class="svgIcon viscosity">
            <a href="#/viscosity">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 44.994 44.994" style="enable-background:new 0 0 44.994 44.994;"
                xml:space="preserve">
                <g>
                    <path d="M43.779,1.294C43.037,0.467,41.974,0,40.862,0H4.132C3.021,0,1.957,0.467,1.213,1.296C0.471,2.125,0.115,3.23,0.236,4.332
                    l3.603,33.137c0.467,4.295,4.077,7.525,8.398,7.525h20.52c4.321,0,7.933-3.232,8.398-7.527L44.759,4.33
                    C44.879,3.226,44.523,2.125,43.779,1.294z M38.106,29.678H6.898L6.337,24.46h7.293c0.971,0,1.882-0.646,2.057-1.603
                    c0.223-1.221-0.715-2.324-1.903-2.324H5.922l-0.623-5.779h6.445c0.965,0,1.858-0.659,2.013-1.611c0.196-1.213-0.734-2.26-1.91-2.26
                    H4.884l-0.622-5.81C4.193,4.426,4.7,3.862,5.351,3.863l34.34,0.046c0.648,0,1.156,0.565,1.086,1.212L38.106,29.678z"/>
                </g>
            </svg>

            <figcaption>VISCOSITY</figcaption>
        </a>
    </div>
</div>
<div class="col col-33">
    <div class="svgIcon magnetic">
        <a href="#/magnetic">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 612.001 612.001" style="enable-background:new 0 0 612.001 612.001;" xml:space="preserve">
            <g>
                <g>
                    <path d="M73.02,538.981c24.914,24.914,54.26,43.899,87.221,56.427C189.238,606.43,219.815,612,251.25,612
                    c2.676,0,5.359-0.04,8.047-0.121c33.813-1.017,66.894-8.39,98.324-21.916c32.29-13.895,61.423-33.701,86.59-58.869l93.818-93.818
                    l-54.452-54.452l-38.765-38.765l-15.687-15.688l-93.819,93.819c-44.462,44.461-113.269,48-153.383,7.887
                    c-40.113-40.114-36.576-108.921,7.887-153.383l93.818-93.818l-54.452-54.452l-54.452-54.453l-93.817,93.819
                    c-25.167,25.167-44.973,54.3-58.869,86.59C8.511,285.81,1.138,318.891,0.121,352.704c-1.03,34.263,4.511,67.59,16.471,99.056
                    C29.12,484.722,48.105,514.067,73.02,538.981z"/>
                    <path d="M241.325,6.499l-43.468,43.468l109.775,109.775l43.468-43.468c8.665-8.665,8.665-22.714,0-31.379L272.704,6.499
                    C264.039-2.166,249.99-2.166,241.325,6.499z"/>
                    <path d="M495.726,260.9l-43.468,43.468l109.776,109.775l43.468-43.468c8.665-8.665,8.665-22.714,0-31.379L527.105,260.9
                    C518.439,252.235,504.39,252.235,495.726,260.9z"/>
                </g>
            </g>
        </svg>
        <figcaption>MAGNETIC</figcaption>
    </a>    
</div>
</div>
<div class="col col-33">
    <div class="svgIcon angle">
        <a href="#/angle">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 93.535 93.535" style="enable-background:new 0 0 93.535 93.535;"
            xml:space="preserve">
            <g>
                <g>
                    <path d="M88.653,93.535c2.255,0,4.07-1.814,4.07-4.07V74.834c0-2.256-1.815-4.07-4.07-4.07s-4.07,1.814-4.07,4.07v3.245H43.936
                    c0.138-0.248,0.248-0.522,0.248-0.825c0-1.705-0.138-3.438-0.413-5.115c-0.138-0.879-0.962-1.513-1.87-1.348
                    c-0.88,0.139-1.485,0.962-1.348,1.87c0.248,1.513,0.357,3.053,0.357,4.593c0,0.303,0.11,0.577,0.248,0.825H16.239V48.596
                    c1.402,0.221,2.805,0.522,4.152,0.936c0.165,0.056,0.33,0.082,0.468,0.082c0.688,0,1.348-0.439,1.567-1.154
                    c0.275-0.854-0.22-1.76-1.072-2.035c-1.65-0.495-3.328-0.88-5.006-1.1c-0.027,0-0.055,0-0.082,0V8.14h3.245
                    c2.255,0,4.07-1.815,4.07-4.07c0-2.255-1.815-4.07-4.07-4.07H4.881c-2.256,0-4.07,1.815-4.07,4.07c0,2.255,1.814,4.07,4.07,4.07
                    h3.245v74.036c0,2.256,1.815,4.07,4.07,4.07h72.413v3.218C84.583,91.719,86.398,93.535,88.653,93.535z"/>
                    <path d="M23.967,49.036c-0.385,0.798-0.055,1.788,0.743,2.173c1.375,0.688,2.695,1.458,3.96,2.365
                    c0.275,0.191,0.605,0.303,0.936,0.303c0.522,0,1.018-0.247,1.319-0.688c0.523-0.742,0.358-1.76-0.385-2.283
                    c-1.402-0.989-2.888-1.87-4.4-2.612C25.315,47.909,24.354,48.238,23.967,49.036z"/>
                    <path d="M37.856,58.084c-1.018-1.375-2.145-2.668-3.383-3.878c-0.632-0.634-1.677-0.604-2.31,0.026
                    c-0.633,0.633-0.605,1.679,0.027,2.312c1.1,1.072,2.117,2.255,3.025,3.492c0.33,0.44,0.825,0.659,1.32,0.659
                    c0.33,0,0.688-0.108,0.962-0.329C38.241,59.816,38.378,58.799,37.856,58.084z"/>
                    <path d="M39.479,68.178c0.22,0.688,0.853,1.127,1.54,1.127c0.165,0,0.33-0.027,0.495-0.082c0.853-0.275,1.32-1.211,1.045-2.062
                    c-0.522-1.622-1.21-3.219-1.98-4.73c-0.412-0.797-1.402-1.1-2.2-0.688c-0.797,0.412-1.1,1.402-0.688,2.199
                    C38.378,65.29,38.984,66.721,39.479,68.178z"/>
                    <g>
                        <path d="M46.491,53.546c-0.412-0.247-0.715-0.688-0.715-1.237c0-0.771,0.633-1.375,1.431-1.375c0.302,0,0.55,0.109,0.77,0.248
                        c0.715,0.412,1.32,0.604,2.173,0.604c1.678,0,2.585-1.267,2.776-3.108c-0.66,0.578-1.594,0.936-2.776,0.936
                        c-2.971,0-4.868-1.649-4.868-4.399v-0.027c0-2.751,2.118-4.786,5.198-4.786c1.843,0,2.915,0.44,3.933,1.485
                        c0.963,0.963,1.623,2.448,1.623,5.143v0.027c0.027,4.455-2.035,7.48-5.939,7.48C48.583,54.537,47.509,54.18,46.491,53.546z
                        M53.011,45.103v-0.027c0-1.21-0.908-2.09-2.394-2.09s-2.312,0.853-2.312,2.062v0.027c0,1.21,0.908,2.062,2.394,2.062
                        C52.186,47.137,53.011,46.286,53.011,45.103z"/>
                        <path d="M58.181,47.496v-0.027c0-3.959,2.447-7.068,6.078-7.068c3.603,0,6.051,3.054,6.051,7.014v0.026
                        c0,3.961-2.448,7.068-6.078,7.068C60.602,54.537,58.181,51.457,58.181,47.496z M67.257,47.496v-0.027
                        c0-2.475-1.211-4.345-2.998-4.345s-2.971,1.814-2.971,4.317v0.027c0,2.502,1.184,4.346,2.997,4.346
                        C66.101,51.814,67.257,49.971,67.257,47.496z"/>
                        <path d="M72.179,43.563v-0.027c0-1.65,1.32-2.998,3.025-2.998s2.997,1.32,2.997,2.971v0.027c0,1.65-1.319,2.998-3.024,2.998
                        C73.444,46.534,72.179,45.213,72.179,43.563z M72.261,48.238c0-0.356,0.304-0.633,0.634-0.633h4.565
                        c0.356,0,0.633,0.304,0.633,0.633c0,0.357-0.303,0.633-0.633,0.633h-4.565C72.564,48.898,72.261,48.596,72.261,48.238z
                        M76.607,43.563v-0.027c0-0.853-0.577-1.595-1.431-1.595c-0.853,0-1.375,0.715-1.375,1.567v0.027
                        c0,0.853,0.578,1.595,1.431,1.595S76.607,44.388,76.607,43.563z"/>
                    </g>
                </g>
            </g>
        </svg>

        <figcaption>ANGLE</figcaption>
    </a>
</div>
</div>

</div>


</div>
<a href="#/grid" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
</ion-scroll>

</ion-pane>