<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">POWER</h1>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <div class="borderColor">
            <input type="number" placeholder="" ng-model="values.fromValue" placeholder="Tap">
            <input  type="text" ionic-autocomplete="{items: items, onSelect:onSelect}"placeholder="Tap to Search" ng-model="search"/>
       </div>
       <div>
         <h4>watt:{{value1}}</h4>
         <h4>kilowatt:{{value2}}</h4>
         <h4>megawatt:{{value3}}</h4>
         <h4>gigawatt:{{value4}}</h4>
         <h4>calorie/sec:{{value5}}</h4>
         <h4>kilocalorie/sec:{{value6}}</h4>
         <h4>kilocalorie/hour:{{value7}}</h4>
         <h4>joules/sec:{{value8}}</h4>
         <h4>kilojoules/sec:{{value9}}</h4>
         <h4>kilojoules/hour:{{value10}}</h4>
         <h4>BTU/hour:{{value11}}</h4>
         <h4>pferdestarke(ps):{{value12}}</h4>
       </div>
    </ion-content>
</ion-pane>
