<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">PRESSURE</h1>
    </ion-header-bar>
    <ion-content class="has-header padding">
       <div class="borderColor">
            <input type="number" placeholder="" ng-model="values.fromValue" placeholder="Tap">
            <input  type="text" ionic-autocomplete="{items: items, onSelect:onSelect}"placeholder="Tap to Search" ng-model="search"/>
       </div>
       <div>
         <h4>Atmosphere:{{value1}}</h4>
         <h4>Pascal:{{value2}}</h4>
         <h4>Megapascal:{{value3}}</h4>
         <h4>Gigapascal:{{value4}}</h4>
         <h4>Kilopascal:{{value5}}</h4>
         <h4>Bar:{{value6}}</h4>
         <h4>Kgf/cm<sup>2</sup>:{{value7}}</h4>
         <h4>gf/cm<sup>2</sup>:{{value8}}</h4>
         <h4>lbf/in<sup>2</sup>(psi):{{value9}}</h4>
         <h4>lbf/ft<sup>2</sup>:{{value10}}</h4>
         <h4>Newton/m<sup>2</sup>:{{value11}}</h4>
         <h4>Newton/cm<sup>2</sup>:{{value12}}</h4>
         <h4>Newton/mm<sup>2</sup>:{{value13}}</h4>
       </div>
    </ion-content>
</ion-pane>
