<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">SOUND</h1>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <div class="borderColor">
            <input type="number" placeholder="" ng-model="values.fromValue" placeholder="Tap">
            <input  type="text" ionic-autocomplete="{items: items, onSelect:onSelect}"placeholder="Tap to Search" ng-model="search"/>
       </div>
       <div>
         <h4>Bel(B):{{value1}}</h4>
         <h4>Decibel(dB):{{value2}}</h4>
         <h4>Neper(Np):{{value3}}</h4>
       </div>
    </ion-content>
</ion-pane>
