<ion-pane>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Data Storage</h1>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <div class="borderColor">
            <input type="number" placeholder="" ng-model="values.fromValue" placeholder="Tap">
            <input  type="text" ionic-autocomplete="{items: items, onSelect:onSelect}"placeholder="Tap to Search" ng-model="search"/>
       </div>
        
       <div>
       <h4>bit:{{value1}} </h4>
       <h4>byte:{{value2}} </h4>
       <h4>exabit:{{value3}} </h4>
       <h4>exabytet:{{value4}} </h4>
       <h4>gigabit:{{value5}} </h4>
       <h4>gigabyte:{{value6}} </h4>
       <h4>kilobit:{{value7}} </h4>
       <h4>kilobyte:{{value8}} </h4>
       <h4>megabit:{{value9}} </h4>
       <h4>megabyte:{{value10}} </h4>
       <h4>petabit:{{value11}} </h4>
       <h4>petabytet:{{value12}} </h4>
       <h4>terabit:{{value13}}</h4>
       <h4>terabyte:{{value14}}</h4>
       <div ng-hide="hideDVD">
        <h4>dvd:{{dvd|number:0}} </h4>
      </div>
      <div ng-hide="hideCD"><h4>CD:{{cd|number:0}} </h4>
      </div>
      <div ng-hide="hideFloppy">
        <h4>Floppy:{{floppy|number:0}} </h4>
      </div>
       
       
</ion-content>
</ion-pane>
{{dvd1}}
{{value}}
{{kilobyte}}