<ion-pane>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Temperature</h1>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <div class="borderColor">
            <input type="number" placeholder="" ng-model="values.fromValue" placeholder="Tap">
            <input  type="text" ionic-autocomplete="{items: items, onSelect:onSelect}"placeholder="Tap to Search" ng-model="search"/>
       </div>
       <div>
         <h4>Celsius:{{value1}}</h4>
         <h4>Fahrenheit:{{value2}}</h4>
         <h4>Kelvin:{{value3}}</h4>
         <h4>Rankine:{{value4}}</h4>
       </div>
    </ion-content>
</ion-pane>
