<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">TIME</h1>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <div class="borderColor">
            <input type="number" placeholder="" ng-model="values.fromValue" placeholder="Tap">
            <input  type="text" ionic-autocomplete="{items: items, onSelect:onSelect}"placeholder="Tap to Search" ng-model="search"/>
       </div>
       <div>
         <h4>Hour:{{value1}}</h4>
         <h4>Minute:{{value2}}</h4>
         <h4>Second:{{value3}}</h4>
         <h4>Millisecond:{{value4}}</h4>
         <h4>Microsecond:{{value5}}</h4>
         <h4>Nanosecond:{{value6}}</h4>
         <h4>Day:{{value7}}</h4>
         <h4>Week:{{value8}}</h4>
         <h4>Month:{{value9}}</h4>
         <h4>Year:{{value10}}</h4>
         <h4>Decade:{{value11}}</h4>
         <h4>Century:{{value12}}</h4>
         <h4>Fortnight:{{value13}}</h4>
       </div>
    </ion-content>
</ion-pane>
