<ion-pane>
    <ion-header-bar class="bar-assertive">
        <h1 class="title">Torque</h1>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <div class="borderColor">
            <input type="number" placeholder="" ng-model="values.fromValue" placeholder="Tap">
            <input  type="text" ionic-autocomplete="{items: items, onSelect:onSelect}"placeholder="Tap to Search" ng-model="search"/>
       </div>
       <div>
         <h4>Newton-meter:{{value1}}</h4>
         <h4>Newton-centimeter:{{value2}}</h4>
         <h4>Kilonewton-meter:{{value3}}</h4>
         <h4>Kilogramforce-meter:{{value4}}</h4>
         <h4>Dyne-meter:{{value5}}</h4>
         <h4>Poundforce-foot:{{value6}}</h4>
         <h4>Poundforce-inch:{{value7}}</h4>
       </div>
    </ion-content>
</ion-pane>
