<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Viscosity</h1>
    </ion-header-bar>
    <ion<div class="borderColor">
            <input type="number" placeholder="" ng-model="values.fromValue" placeholder="Tap">
            <input  type="text" ionic-autocomplete="{items: items, onSelect:onSelect}"placeholder="Tap to Search" ng-model="search"/>
       </div>
       <div>
         <h4>Newton-second/meter<sup>2</sup>:{{value1}}</h4>
         <h4>kilogramforce-second/meter<sup>2</sup>:{{value2}}</h4>
         <h4>pascal-second:{{value3}}</h4>
         <h4>millipascal-second:{{value4}}</h4>
         <h4>poise:{{value5}}</h4>
         <h4>kilopoise:{{value6}}</h4>
         <h4>decipoise:{{value7}}</h4>
         <h4>centipoise:{{value8}}</h4>
         <h4>millipoise:{{value9}}</h4>
         <h4>poundforce-second/foot<sup>2</sup>:{{value10}}</h4>
         <h4>poundforce-second/inch<sup>2</sup>{{value11}}</h4>
       </div>
    </ion-content>
</ion-pane>
