<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">VOLUME</h1>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <div class="borderColor">
            <input type="number" placeholder="" ng-model="values.fromValue" placeholder="Tap">
            <input  type="text" ionic-autocomplete="{items: items, onSelect:onSelect}"placeholder="Tap to Search" ng-model="search"/>
       </div>
       <div>
         <h4>Cubic meter:{{value1}}</h4>
         <h4>Litre:{{value2}}</h4>
         <h4>Milliliter:{{value3}}</h4>
         <h4>Cubic Foot:{{value4}}</h4>
         <h4>Cubic inch:{{value5}}</h4>
         <h4>US galon:{{value6}}</h4>
         <h4>US quart:{{value7}}</h4>
         <h4>US pint:{{value8}}</h4>
         <h4>US cup:{{value9}}</h4>
         <h4>US oz:{{value10}}</h4>
         <h4>US tbsp.:{{value11}}</h4>
         <h4>US tsp.:{{value12}}</h4>
         <h4>Imperial galon:{{value13}}</h4>
         <h4>Imperial quart:{{value14}}</h4>
         <h4>Imperial pint:{{value15}}</h4>
         <h4>Imperial oz:{{value16}}</h4>
         <h4>Imperial tbsp.:{{value17}}</h4>
         <h4>Imperial tsp.:{{value18}}</h4>
       </div>
    </ion-content>
</ion-pane>
