<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Mass</h1>
    </ion-header-bar>
    <ion-content class="has-header padding">
       <div class="borderColor">
            <input type="number" placeholder="" ng-model="values.fromValue" placeholder="Tap">
            <input  type="text" ionic-autocomplete="{items: items, onSelect:onSelect}"placeholder="Tap to Search" ng-model="search"/>
       </div>
       <div>
         <h4>Carat:{{value1}}</h4>
         <h4>Grams:{{value2}}</h4>
         <h4>Kilograms:{{value3}}</h4>
         <h4>Longton:{{value4}}</h4>
         <h4>Milligram:{{value5}}</h4>
         <h4>Microgram:{{value6}}</h4>
         <h4>Ounce:{{value7}}</h4>
         <h4>Pound:{{value8}}</h4>
         <h4>Shot/Longton:{{value9}}</h4>
         <h4>Stone:{{value10}}</h4>
       </div>
    </ion-content>
</ion-pane>
