body {
	font-family: "Lato";
}
body .overflow-scroll {
overflow: auto;
overflow-x: hidden;
overflow-y: scroll;
-webkit-overflow-scrolling: touch;
}
.back {
	float: right;
}



 .ion-scroll[direction=y] {
  height: 100vh;
}

.title {
	text-transform: uppercase !important;
	font-size: 13px !important;
}
.bar-black {
	background-color: #0a0a0a;
	color: #fff;
}
.bar-black .title {
	color: #fff;
}
#nav {
	
	text-align: center;
	margin-top:10px;
}
#nav ul {
	text-align: center;
	padding-top: 30px;
}


#nav li {
	
	font-family: 'Open Sans';
	font-size: 15px;
}

#nav ul li a {
	padding: 5px;
	background-color: #4B8BF4;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 30px;
}

h4 {
	font-size: 13px;
}

.inputMod  {
	background: #fff;
	padding: 20px !important;
	width: 100%;
	margin-top: 20px;
	height: 50px !important;
	border: 1px solid #ccc !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* Empty. Add your own CSS if you like */
img {
	  
}
.flagDisplay img{
	float: left;
  margin-right: 10px;
  width: 48px;
  margin-top: 10px;

}
#flag{
	margin-bottom: 10px; 
}

.element.style {
  background-image: url(../img/Black.jpg);
}

.borderColor input {
    
    width:300px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:14px;
    padding:5px;
    margin-top:8px;
    height: 36px;    
}

input:focus { 
    
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

.borderColor1 input{

}



figcaption{
font-size: 10px;
}
a { 
color:black ;
text-decoration: none;
}

a:visited { 
	text-decoration: none; color:black; 
}
a:hover { 
	text-decoration: none; color:blue; 
}
a:focus { 
	text-decoration: none; color:yellow; 
}
a:hover, a:active { 
	text-decoration: none; color:black 
}

.svgIcon {
	height: 70;
}
.svgIcon svg {
	padding: 6px;
	width: 45px;
}

.currency {
	background-color: #9b50ba;
	text-align: center;
	color: white;
}
.currency figcaption {
	color: #fff;
}
.currency svg {
	fill: white;
}

.mass{
	background-color: #9b50ba;
	text-align: center;
	color: white;
}
.mass figcaption{
	color: #fff;
}
.mass svg {
	fill: white;
}
 
.length{
	background-color: #9b50ba;
	text-align: center;
	color: white;
}
.length figcaption{
	color: #fff;
}
.length svg{
	fill: white;
}

.area {
	background-color: #9b50ba;
	text-align: center;
	color: white;
}
.area figcaption{
	color: #fff;
}
.area svg{
	fill: white;
}

.volume {
	background-color: #9b50ba;
	text-align: center;
	color: white;
}
.volume figcaption{
    color: #fff;
}
.volume svg{
    background-color: #9b50ba;
	fill: white;	
}


.temp{
    background-color: #9b50ba;
	text-align: center;
	color: white;	
}
.temp figcaption{
	color: #fff;
}
.temp svg{
    background-color: #9b50ba;
	fill: white;	
}

.time{
	background-color: #9b50ba;
	text-align: center;
	color: white;
}
.time figcaption{
    color: #fff;
}
.time svg{
    background-color: #9b50ba;
    fill:white;
}

.velocity{
	background-color: #9b50ba;
	text-align:center;
	color: white;
}
.velocity figcaption{
	color: #fff;
}
.velocity svg{
	background-color: #9b50ba;
	fill:white;
}

.acceleration{
    background-color: #9b50ba;
	text-align:center;
	color: white;	
}
.acceleration figcaption{
	color: #fff;
}
.acceleration svg{
    background-color: #9b50ba;
    fill:white;	
}

.flowrate{
    background-color: #9b50ba;
	text-align:center;
	color: white;	
}
.flowrate figcaption{
	color: #fff;
}
.flowrate svg{
    background-color: #9b50ba;
    fill:white;  	
}

.force{
    background-color: #9b50ba;
	text-align:center;
	color: white;	
}
.force figcaption{
	color: #fff;
}
.force svg{
    background-color: #9b50ba;
    fill:white; 	
}

.torque{
	background-color: #9b50ba;
	text-align:center;
	color: white;
}
.torque figcaption{
    color: #fff;
}
.torque svg{
	background-color: #9b50ba;
	fill:white;
}

.power{
	background-color: #9b50ba;
	text-align:center;
	color: white;
}
.power figcaption{
	color: white;
}
.power svg{
    background-color: #9b50ba;
	fill:white;	
}

.energy{
	background-color: #9b50ba;
	text-align:center;
	color: white;
}
.energy figcaption{
	color: white;
}
.energy svg{
    background-color: #9b50ba;
	fill:white;	
}

.pressure{
	background-color: #9b50ba;
	text-align:center;
	color: white;
}
.pressure figcaption{
	color: #fff;
}
.pressure svg{
    background-color: #9b50ba;
	fill:white;	
}

.viscosity{
	background-color: #9b50ba;
	text-align:center;
	color: white;
}
.viscosity figcaption{
	color: white;
}
.viscosity svg{
    background-color: #9b50ba;
	fill:white;		
}

.magnetic{
    background-color: #9b50ba;
	text-align:center;
	color: white;	
}
.magnetic figcaption{
	color: white;
}
.magnetic svg{
    background-color: #9b50ba;
	fill:white;	
}


.angle{
    background-color: #9b50ba;
	text-align:center;
	color: white;	
}
.angle figcaption{
	color: white;
}
.angle svg{
    background-color: #9b50ba;
	fill:white;	
}

.sound{
    background-color: #9b50ba;
	text-align:center;
	color: white;	
}
.sound figcaption{
	color: white;
}
.sound svg{
    background-color: #9b50ba;
	fill:white;	
}

.fuel{
    background-color: #9b50ba;
	text-align:center;
	color: white;	
}
.fuel figcaption{
    color: #fff;
}
.fuel svg{
    background-color: #9b50ba;
	fill:white;	
}

.storage{
	background-color: #9b50ba;
	text-align:center;
	color: white;
}
.storage figcaption{
    color: #fff;
}
.storage svg{
    background-color: #9b50ba;
	fill:white;		
}
/*Work arround with new menu html */
.svgCurrency img{
width: 45px;
}
.svgMass img{
	width: 45px;
}
.svgLength img{
	width: 45px;
}
.svgArea img{
	width: 45px;
}
.svgVolume img{
	width: 45px;
}
.svgTemp img{
	width: 45px;
}